Repository mikhail-sakulin/django-studyoverflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, mypy

black:
  name: black
  entry: black --config pyproject.toml
  language: system
  pass_filenames: true

isort:
  name: isort
  entry: isort --settings-path pyproject.toml
  language: system
  pass_filenames: true

flake8:
  name: flake8
  entry: flake8 --config .flake8
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: mypy --config-file pyproject.toml
  language: system
  pass_filenames: true

fix(e2e): edit the notification count check using via expect_notifications_count service function
  e2e/helpers/utils.py
  e2e/tests/test_likes_notifications.py
Due: black, isort, flake8, mypy

feat(infra): configure Adminer and Flower monitoring services
  .env.example
  .env.test
  .github/workflows/cd-checks.yml
  docker-compose.cd-lite.yml
  docker-compose.cd.yml
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.yml
  nginx/studyoverflow-lite.conf
  nginx/studyoverflow.conf
Due: none

feat(nginx): add HTTPS support with Let's Encrypt via certbot
  .env.example
  .env.test
  docker-compose.prod-lite.yml
  docker-compose.prod.yml
  nginx/Dockerfile
  nginx/Dockerfile-lite
  nginx/entrypoint-lite.sh
  nginx/entrypoint.sh
  nginx/http-lite.conf
  nginx/http.conf
  nginx/https-lite.conf
  nginx/https.conf
  studyoverflow/studyoverflow/settings/auth.py
  studyoverflow/studyoverflow/settings/base.py
  studyoverflow/studyoverflow/settings/drf.py
Due: black, isort

fix(docker): edit staticfiles volume name
  docker-compose.cd-lite.yml
  docker-compose.cd.yml
Due: none

feat(users): add create_superuser_from_env management command
  .env.example
  .env.test
  docker-compose.prod.yml
  studyoverflow/users/management/__init__.py
  studyoverflow/users/management/commands/__init__.py
  studyoverflow/users/management/commands/create_superuser_from_env.py
Due: black, isort, flake8, mypy

refactor(users): move MODERATOR_PERMISSIONS and STAFF_PERMISSIONS from signals.py to services/moderation.py
  studyoverflow/users/services/moderation.py
  studyoverflow/users/signals.py
Due: black, isort, flake8, mypy

docs(apps): fix docstrings in signal handlers for users and posts apps
  studyoverflow/posts/signals.py
  studyoverflow/users/apps.py
Due: black, isort, flake8, mypy

feat(navigation): sync Site domain with SITE_DOMAIN .env param on post_migrate
  studyoverflow/navigation/apps.py
  studyoverflow/navigation/signals.py
Due: black, isort, flake8, mypy

chore: remove media from git
  studyoverflow/media/avatars/default_avatar.jpg
Due: none

feat(cache): add delete_cached_posts_by_author users service with signal handler and tests
  studyoverflow/posts/services/__init__.py
  studyoverflow/posts/services/cache.py
  studyoverflow/posts/signals.py
  studyoverflow/posts/tests/services/test_cache.py
Due: black, isort, flake8, mypy

docs(api): edit OpenAPI DESCRIPTION in SPECTACULAR_SETTINGS
  studyoverflow/studyoverflow/settings/drf.py
Due: black, isort

docs(websocket): fix docstring for ws heartbeat in js
  studyoverflow/notifications/static/notifications/js/websocket_notifications.js
Due: none

perf(prod-lite): exclude Flower and optimize Celery resources
  .github/workflows/cd-checks.yml
  docker-compose.prod-lite.yml
  nginx/http-lite.conf
  nginx/https-lite.conf
Due: none

fix(cd): remove the Flower check from the smoke tests for the prod-lite build
  .github/workflows/cd-checks.yml
Due: none

ci(deploy): add scp step to copy docker-compose files to server
  .github/workflows/cd-deploy.yml
Due: none

docs(pre-commit): edit pytest hook comment
  .pre-commit-config.yaml
Due: none

chore(git): add db_prod_dump.json to .gitignore
  .gitignore
Due: none

style(users): update styles for username, user role, and block status
  studyoverflow/posts/static/posts/css/comment_card.css
  studyoverflow/posts/static/posts/css/post_base.css
  studyoverflow/posts/static/posts/css/post_card.css
  studyoverflow/posts/templates/posts/comments/_comment_card.html
  studyoverflow/posts/templates/posts/post_card.html
  studyoverflow/users/static/users/css/role_badge.css
  studyoverflow/users/static/users/css/user_card.css
  studyoverflow/users/templates/users/_user_card.html
Due: none

chore(posts): add html-template for markdown rules and katex js script
  studyoverflow/posts/static/posts/js/katex_render.js
  studyoverflow/posts/templates/posts/_markdown_rules.html
Due: none

feat(posts): add denormalized posts count to LowercaseTag model with migration file
  studyoverflow/posts/migrations/0023_lowercasetag_posts_count.py
  studyoverflow/posts/models.py
Due: black, isort, flake8, mypy

chore(templates): edit the order of CSS and JS file references in html-templates
  studyoverflow/navigation/templates/navigation/base.html
  studyoverflow/notifications/templates/notifications/notification_base.html
  studyoverflow/users/templates/users/user_list.html
Due: none

feat(posts): add supporting LaTeX math blocks (math-inline/math-center) in markdown rendering with tests
  studyoverflow/posts/services/text_processing.py
  studyoverflow/posts/tests/services/test_text_processing.py
Due: black, isort, flake8, mypy

feat(posts): integrate KaTeX rendering, new highlight.js extra files and markdown rules
  studyoverflow/posts/static/posts/css/post_detail.css
  studyoverflow/posts/static/posts/js/create_post_content-preview.js
  studyoverflow/posts/static/posts/js/post_detail.js
  studyoverflow/posts/templates/posts/post_detail.html
  studyoverflow/posts/templates/posts/post_form_base.html
  studyoverflow/posts/templates/posts/post_list.html
Due: none

style(posts): update styles in _pagination.html template
  studyoverflow/posts/templates/posts/_pagination.html
Due: none

style(posts): edit styles for input fields and tags on the post creation and search pages
  studyoverflow/posts/static/posts/css/filters.css
  studyoverflow/posts/static/posts/css/post_create.css
  studyoverflow/posts/static/posts/css/tags.css
  studyoverflow/posts/templates/posts/_filters.html
Due: none

style(users): edit the title and some styles for the user profile page
  studyoverflow/users/templates/users/profile_author.html
  studyoverflow/users/templates/users/profile_current_user.html
Due: none

chore(swagger): edit favicon on swagger ui page
  studyoverflow/templates/drf_spectacular/swagger_ui.html
Due: none

feat(posts): add new validation for tags with tests
  studyoverflow/posts/services/validators.py
  studyoverflow/posts/tests/services/test_validators.py
Due: black, isort, flake8, mypy

refactor(comments): sort child queryset by time_create ascending, edit e2e-test test_comments.py
  e2e/tests/test_comments.py
  studyoverflow/posts/mixins/queryset_mixins.py
Due: black, isort, flake8, mypy

refactor(users): move MODERATOR_PERMISSIONS and STAFF_PERMISSIONS lists from moderation.py to permissions.py service
  studyoverflow/users/services/moderation.py
  studyoverflow/users/services/permissions.py
  studyoverflow/users/signals.py
Due: black, isort, flake8, mypy

feat(posts): add post count for tags using signals, add tests
  studyoverflow/posts/signals.py
  studyoverflow/posts/tests/test_signals.py
Due: black, isort, flake8, mypy

feat(posts): update ContextTagsMixin logic to include posts_count field
  studyoverflow/posts/mixins/common_mixins.py
Due: black, isort, flake8, mypy

feat(posts): update TagSerializer fields to include posts_count field
  studyoverflow/posts/api/serializers.py
Due: black, isort, flake8, mypy

feat(posts): update Admin classes to include counter fields, add rendered_content_display and search_content_display fields to PostAdmin and CommentAdmin
  studyoverflow/posts/admin.py
Due: black, isort, flake8, mypy

fix(auth): add login:email scope for Yandex OAuth provider
  studyoverflow/studyoverflow/settings/auth.py
Due: black, isort

feat(cd): make production deploy mode (full/lite) configurable via DEPLOY_MODE repository variable
  .github/workflows/cd-checks.yml
  .github/workflows/cd-deploy.yml
  .github/workflows/cd-release.yml
Due: none

feat(users): add s3_storage_uuid field for User model
  studyoverflow/users/migrations/0027_user_s3_storage_uuid.py
  studyoverflow/users/migrations/0028_populate_s3_storage_uuid.py
  studyoverflow/users/migrations/0029_alter_user_s3_storage_uuid.py
  studyoverflow/users/models.py
  studyoverflow/users/services/avatars.py
  studyoverflow/users/signals.py
  studyoverflow/users/tasks.py
  studyoverflow/users/tests/services/test_avatars.py
  studyoverflow/users/tests/test_signals.py
  studyoverflow/users/tests/test_tasks.py
Due: black, isort, flake8, mypy

docs(api): update swagger description for social auth schema
  studyoverflow/users/api/views.py
Due: black, isort, flake8, mypy

feat(auth): disable GitHub and Google OAuth login per Federal Law No. 149
  studyoverflow/users/static/users/css/login.css
  studyoverflow/users/templates/users/_auth_base.html
  studyoverflow/users/templates/users/login.html
  studyoverflow/users/templates/users/user_list.html
  studyoverflow/users/urls_socialaccount.py
Due: black, isort, flake8, mypy

feat(footer): update contact details in footer
  studyoverflow/navigation/static/navigation/css/base.css
  studyoverflow/navigation/templates/navigation/_footer.html
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$, but not: (?x)(
    venv/|
    __pycache__/|
    .idea/|
    manage.py|
    migrations/
)

  flake8: any of: \.py$, but not: (?x)(
    venv/|
    __pycache__/|
    .*pyc|
    .idea/|
    manage.py|
    migrations/|
    studyoverflow/studyoverflow/
)

  mypy: any of: \.py$, but not: (?x)(
    venv/|
    __pycache__/|
    .idea/|
    manage.py|
    migrations/|
    studyoverflow/studyoverflow/
)

