Repository mikhail-sakulin/django-studyoverflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, mypy

black:
  name: black
  entry: black --config pyproject.toml
  language: system
  pass_filenames: true

isort:
  name: isort
  entry: isort --settings-path pyproject.toml
  language: system
  pass_filenames: true

flake8:
  name: flake8
  entry: flake8 --config .flake8
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: mypy --config-file pyproject.toml
  language: system
  pass_filenames: true

chore(env): configure environment variables and settings.py
  .env.example
  studyoverflow/studyoverflow/settings.py
Due: black, isort

feat(squash): merge with feature/base-index-pages
  studyoverflow/posts/__init__.py
  studyoverflow/posts/admin.py
  studyoverflow/posts/apps.py
  studyoverflow/posts/migrations/__init__.py
  studyoverflow/posts/models.py
  studyoverflow/posts/static/posts/css/index.css
  studyoverflow/posts/static/posts/img/background_main_page.png
  studyoverflow/posts/static/posts/js/index.js
  studyoverflow/posts/templates/posts/create_post.html
  studyoverflow/posts/templates/posts/index.html
  studyoverflow/posts/templates/posts/posts.html
  studyoverflow/posts/templates/posts/users.html
  studyoverflow/posts/tests.py
  studyoverflow/posts/urls.py
  studyoverflow/posts/views.py
  studyoverflow/static/base/css/base.css
  studyoverflow/static/img/favicon.ico
  studyoverflow/studyoverflow/settings.py
  studyoverflow/studyoverflow/urls.py
  studyoverflow/templates/base/base.html
Due: black, isort, flake8, mypy

style: add scrollbar-gutter stable to base.css
  studyoverflow/static/base/css/base.css
Due: none

chore(posts): add utils.py
  studyoverflow/posts/utils.py
Due: black, isort, flake8, mypy

feat(posts): add Post model
  studyoverflow/posts/migrations/0001_initial.py
  studyoverflow/posts/models.py
Due: black, isort, flake8, mypy

feat(posts): change slug and add get_absolute_url
  studyoverflow/posts/migrations/0002_alter_post_slug.py
  studyoverflow/posts/models.py
Due: black, isort, flake8, mypy

feat(new_app): add django_extensions
  studyoverflow/studyoverflow/settings.py
Due: black, isort

fix(posts): fixing logic create slug
  studyoverflow/posts/models.py
Due: black, isort, flake8, mypy

refactor(posts): restructure code using services
  studyoverflow/posts/models.py
  studyoverflow/posts/services/__init__.py
  studyoverflow/posts/services/domain.py
  studyoverflow/posts/services/infrastructure.py
  studyoverflow/posts/services/utils.py
Due: black, isort, flake8, mypy

test(posts): add unit tests for utils.py
  studyoverflow/posts/tests_posts/__init__.py
  studyoverflow/posts/tests_posts/test_utils.py
Due: black, isort, flake8, mypy

chore(pre-commit): add hook to run Django tests
  .pre-commit-config.yaml
Due: none

test(posts): add unit tests for domain.py
  studyoverflow/posts/services/domain.py
  studyoverflow/posts/tests_posts/test_domain.py
Due: black, isort, flake8, mypy

docs(posts): add docs for tests modules
  studyoverflow/posts/tests_posts/test_domain.py
  studyoverflow/posts/tests_posts/test_utils.py
  studyoverflow/studyoverflow/urls.py
Due: black, isort, flake8, mypy

feat(posts): add postcreateform for post
  studyoverflow/posts/forms.py
Due: black, isort, flake8, mypy

chore(posts): update verbose_name for content field
  studyoverflow/posts/migrations/0002_alter_post_slug_squashed_0003_alter_post_content.py
  studyoverflow/posts/models.py
Due: black, isort, flake8, mypy

feat(posts): add postcreateview and create_post.html
  studyoverflow/posts/static/posts/css/create_post.css
  studyoverflow/posts/templates/posts/create_post.html
  studyoverflow/posts/urls.py
  studyoverflow/posts/views.py
Due: black, isort, flake8, mypy

feat(posts): add styles in create_post.css
  studyoverflow/posts/static/posts/css/create_post.css
Due: none

feat(posts): add js for create_post
  studyoverflow/posts/static/posts/js/create_post.js
Due: none

feat(posts): add safe Markdown rendering
  studyoverflow/posts/services/domain.py
  studyoverflow/posts/templatetags/posts_tags.py
Due: black, isort, flake8, mypy

feat(posts): add Markdown preview for create_post.html
  studyoverflow/posts/templates/posts/create_post.html
Due: none

fix(posts): moved extra_js in index.html
  studyoverflow/posts/templates/posts/index.html
Due: none

feat(posts): add tag models for post
  studyoverflow/posts/models.py
Due: black, isort, flake8, mypy

feat(posts): add tags widget and validation in postcreateform
  studyoverflow/posts/forms.py
Due: black, isort, flake8, mypy

feat(posts): add form_valid for tags in postcreateview
  studyoverflow/posts/views.py
Due: black, isort, flake8, mypy

chore(posts): add migrations for tags
  studyoverflow/posts/migrations/0004_lowercasetag_taggedpost_post_tags_squashed_0006_alter_lowercasetag_name_alter_lowercasetag_slug.py
Due: black

feat(posts): update styles and create_post.html for tags
  studyoverflow/posts/static/posts/css/create_post.css
  studyoverflow/posts/templates/posts/create_post.html
Due: none

refactor(posts): rename js-file
  studyoverflow/posts/static/posts/js/create_post_content-preview.js
Due: none

feat(posts): add js for tags
  studyoverflow/posts/static/posts/js/create_post_tags.js
Due: none

feat(posts): add selection of existing tags for create_post.html
  studyoverflow/posts/static/posts/css/create_post.css
  studyoverflow/posts/templates/posts/create_post.html
  studyoverflow/posts/views.py
Due: black, isort, flake8, mypy

feat(posts): add typing for markdown filter and function
  studyoverflow/posts/services/domain.py
  studyoverflow/posts/templatetags/posts_tags.py
Due: black, isort, flake8, mypy

fix(posts): fix style for search field in base.html
  studyoverflow/static/base/css/base.css
  studyoverflow/templates/base/base.html
Due: none

chore(posts): change color for text-block on index.html
  studyoverflow/posts/static/posts/css/index.css
Due: none

feat(posts): add PostListView with post_list.html, styles and js
  studyoverflow/posts/static/posts/css/post_card.css
  studyoverflow/posts/static/posts/js/highlight_run.js
  studyoverflow/posts/templates/posts/index.html
  studyoverflow/posts/templates/posts/post_card.html
  studyoverflow/posts/templates/posts/post_list.html
  studyoverflow/posts/templates/posts/posts.html
  studyoverflow/posts/urls.py
  studyoverflow/posts/views.py
  studyoverflow/templates/base/base.html
Due: black, isort, flake8, mypy

feat(posts): add pagination for post_list with styles
  studyoverflow/posts/static/posts/css/post_list.css
  studyoverflow/posts/templates/posts/post_list.html
  studyoverflow/posts/views.py
Due: black, isort, flake8, mypy

refactor(posts): add app_name and url prefix for posts
  studyoverflow/posts/templates/posts/index.html
  studyoverflow/posts/urls.py
  studyoverflow/studyoverflow/urls.py
  studyoverflow/templates/base/base.html
Due: black, isort, flake8, mypy

fix(posts): change logic for checking post changes
  studyoverflow/posts/models.py
  studyoverflow/posts/templates/posts/post_card.html
Due: black, isort, flake8, mypy

fix(posts): fix styles for posts/create/
  studyoverflow/posts/static/posts/css/create_post.css
Due: none

feat(posts): add gradient effect for content if it is overflow
  studyoverflow/posts/static/posts/css/post_card.css
  studyoverflow/posts/static/posts/js/overflow_gradient.js
  studyoverflow/posts/templates/posts/post_card.html
  studyoverflow/posts/templates/posts/post_list.html
Due: none

refactor(posts): split post_card.css into post_base and post_card
  studyoverflow/posts/static/posts/css/post_base.css
  studyoverflow/posts/static/posts/css/post_card.css
  studyoverflow/posts/templates/posts/post_list.html
Due: none

feat(posts): add get_absolute_url, PostDetailView with html and css for post
  studyoverflow/posts/models.py
  studyoverflow/posts/static/posts/css/post_detail.css
  studyoverflow/posts/templates/posts/post_card.html
  studyoverflow/posts/templates/posts/post_detail.html
  studyoverflow/posts/urls.py
  studyoverflow/posts/views.py
Due: black, isort, flake8, mypy

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$, but not: (?x)(
    venv/|
    __pycache__/|
    .idea/|
    manage.py|
    migrations/
)

  flake8: any of: \.py$, but not: (?x)(
    venv/|
    __pycache__/|
    .*pyc|
    .idea/|
    manage.py|
    migrations/|
    studyoverflow/studyoverflow/
)

  mypy: any of: \.py$, but not: (?x)(
    venv/|
    __pycache__/|
    .idea/|
    manage.py|
    migrations/|
    studyoverflow/studyoverflow/
)

