Repository mikhail-sakulin/django-studyoverflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, mypy

black:
  name: black
  entry: black --config pyproject.toml
  language: system
  pass_filenames: true

isort:
  name: isort
  entry: isort --settings-path pyproject.toml
  language: system
  pass_filenames: true

flake8:
  name: flake8
  entry: flake8 --config .flake8
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: mypy --config-file pyproject.toml
  language: system
  pass_filenames: true

feat(tests): edit locustfile.py
  studyoverflow/locustfile.py
Due: black, isort, flake8, mypy

chore(.gitignore): add .env.dev and .env.prod to .gitignore
  .gitignore
Due: none

chore(.env.example): update .env.example
  .env.example
Due: none

chore(settings): add different MIDDLEWARE and INSTALLED_APPS content depending on DEBUG.
  studyoverflow/studyoverflow/settings/base.py
  studyoverflow/studyoverflow/settings/database_s3storage_static.py
  studyoverflow/studyoverflow/urls.py
Due: black, isort

chore(docker): add Dockerfiles for nginx, promtail and loki
  monitoring/loki/Dockerfile
  monitoring/loki/loki-config.yml
  monitoring/promtail/Dockerfile
  monitoring/promtail/promtail-config.yml
  nginx/Dockerfile
Due: none

chore(nginx): edit nginx configuration
  nginx/studyoverflow.conf
Due: none

feat(users): edit AvatarFileValidator
  studyoverflow/users/services/validators.py
Due: black, isort, flake8, mypy

chore(docker-compose): change docker-compose.yml, add dev and prod configurations
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.yml
  monitoring/loki-config.yml
  monitoring/promtail-config.yml
  studyoverflow/Dockerfile
Due: none

chore(.gitignore): update .gitignore
  .gitignore
Due: none

build(docker): edit backend to multi-stage Docker builds and add pip-tools
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.yml
  studyoverflow/Dockerfile
  studyoverflow/new_requirements.txt
  studyoverflow/requirements.base.in
  studyoverflow/requirements.base.lock.txt
  studyoverflow/requirements.dev.in
  studyoverflow/requirements.dev.lock.txt
  studyoverflow/requirements.txt
  studyoverflow/users/services/validators.py
Due: black, isort, flake8, mypy

feat(auth): add blocked user check to authentication backends
  studyoverflow/users/authentication_backends.py
Due: black, isort, flake8, mypy

fix(auth): edit BlockedUserMiddleware - add a check that it is not an API request (only for web)
  studyoverflow/users/middleware.py
Due: black, isort, flake8, mypy

fix(users): add is_social validation for UserSetPasswordForm
  studyoverflow/users/forms.py
Due: black, isort, flake8, mypy

fix(users): edit "action" in the messages within the "_set_user_block_state" function
  studyoverflow/users/services/moderation.py
Due: black, isort, flake8, mypy

feat(posts): add PostCommentsPagination for api pagination
  studyoverflow/posts/api/pagination.py
Due: black, isort, flake8, mypy

feat(users): add UserPasswordNotSocialPermission for api
  studyoverflow/users/api/permissions.py
Due: black, isort, flake8, mypy

feat(settings): add "drf_spectacular" in INSTALLED_APPS for OpenAPI documentation
  studyoverflow/studyoverflow/settings/auth.py
  studyoverflow/studyoverflow/settings/base.py
  studyoverflow/studyoverflow/settings/drf.py
Due: black, isort

feat(users): add custom api authentication classes for DRF
  studyoverflow/studyoverflow/settings/drf.py
  studyoverflow/users/api/authentication.py
Due: black, isort, flake8, mypy

feat(openapi): add custom authentication schemes for swagger
  studyoverflow/navigation/api/swagger_extensions.py
  studyoverflow/navigation/apps.py
Due: black, isort, flake8, mypy

feat(openapi): add openapi urls
  studyoverflow/studyoverflow/urls_api_v1.py
Due: black, isort

feat(users): add validate_username for UserMyProfileSerializer and other serializers for OpenAPI schemes
  studyoverflow/users/api/serializers.py
Due: black, isort, flake8, mypy

feat(notifications): add validate_is_read for NotificationSerializer
  studyoverflow/notifications/api/serializers.py
Due: black, isort, flake8, mypy

feat(posts): edit serializers for OpenAPI schemes
  studyoverflow/posts/api/serializers.py
Due: black, isort, flake8, mypy

feat(openapi): add OpenAPI responses and examples for schemes
  studyoverflow/notifications/api/openapi_responses.py
  studyoverflow/posts/api/openapi_responses.py
  studyoverflow/users/api/openapi_responses_examples.py
Due: black, isort, flake8, mypy

feat(openapi, users): add OpenAPI schemes for users app
  studyoverflow/posts/mixins/queryset_mixins.py
  studyoverflow/users/api/urls.py
  studyoverflow/users/api/views.py
Due: black, isort, flake8, mypy

feat(openapi, posts): add OpenAPI schemes for posts app
  studyoverflow/posts/api/views.py
Due: black, isort, flake8, mypy

feat(openapi, notifications): add OpenAPI schemes for notifications app
  studyoverflow/notifications/api/views.py
Due: black, isort, flake8, mypy

chore(requirements): add pytest with plugins, delete locust from requirements.base.in
  studyoverflow/requirements.base.in
  studyoverflow/requirements.base.lock.txt
  studyoverflow/requirements.dev.in
  studyoverflow/requirements.dev.lock.txt
Due: none

tests(pytest): add pytest.ini configuration and .coveragerc
  studyoverflow/.coveragerc
  studyoverflow/pytest.ini
Due: none

chore(.pre-commit): update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

chore(settings): add test.py settings, edit json formatters in LOGGING configuration
  studyoverflow/studyoverflow/settings/logging.py
  studyoverflow/studyoverflow/settings/test.py
Due: black, isort

feat(tests): add UserFactory
  studyoverflow/factories.py
Due: black, isort, flake8, mypy

feat(tests): add conftest.py for project
  studyoverflow/conftest.py
Due: black, isort, flake8, mypy

fix(requirements): add requests==2.32.4 in requirements.base.in
  studyoverflow/requirements.base.in
  studyoverflow/requirements.base.lock.txt
  studyoverflow/requirements.dev.lock.txt
Due: none

chore(settings): edit the database settings style
  docker-compose.yml
  studyoverflow/studyoverflow/settings/base.py
  studyoverflow/studyoverflow/settings/database_s3storage_static.py
Due: black, isort

chore(.env): update .env.example
  .env.example
Due: none

chore(ci): add docker-compose.test.yml and .env.test
  .env.test
  docker-compose.test.yml
Due: none

chore(docker): edit COPY instruction in Dockerfile for prod-image
  studyoverflow/Dockerfile
Due: none

test(posts): change location of services tests and add some new ones
  studyoverflow/posts/tests.py
  studyoverflow/posts/tests/__init__.py
  studyoverflow/posts/tests/services/test_like_handler.py
  studyoverflow/posts/tests/services/test_text_processing.py
  studyoverflow/posts/tests_posts/test_domain.py
  studyoverflow/posts/tests_posts/test_utils.py
Due: black, isort, flake8, mypy

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$, but not: (?x)(
    venv/|
    __pycache__/|
    .idea/|
    manage.py|
    migrations/
)

  flake8: any of: \.py$, but not: (?x)(
    venv/|
    __pycache__/|
    .*pyc|
    .idea/|
    manage.py|
    migrations/|
    studyoverflow/studyoverflow/
)

  mypy: any of: \.py$, but not: (?x)(
    venv/|
    __pycache__/|
    .idea/|
    manage.py|
    migrations/|
    studyoverflow/studyoverflow/
)

