Repository mikhail-sakulin/django-studyoverflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, mypy

black:
  name: black
  entry: black --config pyproject.toml
  language: system
  pass_filenames: true

isort:
  name: isort
  entry: isort --settings-path pyproject.toml
  language: system
  pass_filenames: true

flake8:
  name: flake8
  entry: flake8 --config .flake8
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: mypy --config-file pyproject.toml
  language: system
  pass_filenames: true

feat(comment): add js code to sort comments
  studyoverflow/posts/static/posts/js/post_detail.js
Due: none

feat(comment): add _comment_sort.html
  studyoverflow/posts/templates/posts/comments/_comment_sort.html
  studyoverflow/posts/templates/posts/comments/comment_list.html
  studyoverflow/posts/templates/posts/post_detail.html
Due: none

feat(comment): add sorting logic to CommentListView
  studyoverflow/posts/views.py
Due: black, isort, flake8, mypy

feat(tag): add normalize_tag_name
  studyoverflow/posts/services/domain.py
Due: black, isort, flake8, mypy

feat(tag): edit LowercaseTag model
  studyoverflow/posts/forms.py
  studyoverflow/posts/migrations/0011_alter_lowercasetag_slug.py
  studyoverflow/posts/models.py
  studyoverflow/posts/services/infrastructure.py
Due: black, isort, flake8, mypy

feat(tag): add link to tag url page
  studyoverflow/posts/templates/posts/post_card.html
Due: none

feat(tag): add js code for tag normalization and selection logic
  studyoverflow/posts/static/posts/js/create_post_tags.js
Due: none

style(pagination): edit pagination style
  studyoverflow/posts/static/posts/css/pagination.css
  studyoverflow/posts/templates/posts/_pagination.html
  studyoverflow/posts/templates/posts/post_list.html
Due: none

feat(users): refactor profile.html template to current_user and author templates
  studyoverflow/users/templates/users/profile_author.html
  studyoverflow/users/templates/users/profile_current_user.html
Due: none

feat(users): add AuthorProfileView, edit UserProfileUpdateView and profiles urls paths
  studyoverflow/users/urls.py
  studyoverflow/users/views.py
Due: black, isort, flake8, mypy

feat(users): add hrefs for usernames in templates
  studyoverflow/navigation/templates/navigation/base.html
  studyoverflow/posts/templates/posts/comments/_comment_card.html
  studyoverflow/posts/templates/posts/post_card.html
Due: none

feat(posts): add PostDeleteView with url
  studyoverflow/posts/urls.py
  studyoverflow/posts/views.py
Due: black, isort, flake8, mypy

feat(posts): add _modal_delete.html
  studyoverflow/posts/templates/posts/_modal_delete.html
  studyoverflow/posts/templates/posts/post_detail.html
Due: none

refactor(users): delete old profile.html template
  studyoverflow/users/templates/users/profile.html
Due: none

style(users): add styles for avatar modal view
  studyoverflow/posts/static/posts/css/post_card.css
  studyoverflow/posts/static/posts/css/post_detail.css
  studyoverflow/users/static/users/css/avatar_modal.css
  studyoverflow/users/static/users/css/profile.css
  studyoverflow/users/static/users/js/avatar_modal.js
Due: none

feat(users): add avatar modal view
  studyoverflow/navigation/templates/navigation/base.html
  studyoverflow/posts/templates/posts/post_card.html
  studyoverflow/posts/templates/posts/post_detail.html
  studyoverflow/posts/templates/posts/post_list.html
  studyoverflow/users/templates/users/_avatar_modal.html
  studyoverflow/users/templates/users/_avatar_only_for_modal.html
  studyoverflow/users/templates/users/profile_author.html
  studyoverflow/users/urls.py
  studyoverflow/users/views.py
Due: black, isort, flake8, mypy

fix(messages): fix message display js logic
  studyoverflow/navigation/static/navigation/js/messages.js
Due: none

feat(users): add UserPasswordChangeForm
  studyoverflow/users/forms.py
Due: black, isort, flake8, mypy

feat(users): add UserPasswordChangeView with refactor auth templates
  studyoverflow/users/static/users/css/auth_base.css
  studyoverflow/users/templates/users/_auth_base.html
  studyoverflow/users/templates/users/_form_fields.html
  studyoverflow/users/templates/users/login.html
  studyoverflow/users/templates/users/password_change.html
  studyoverflow/users/templates/users/profile_current_user.html
  studyoverflow/users/urls.py
  studyoverflow/users/views.py
Due: black, isort, flake8, mypy

refactor(modal): move modal_delete window to navigation app
  studyoverflow/navigation/templates/navigation/_modal_delete.html
  studyoverflow/posts/templates/posts/post_detail.html
Due: none

feat(users): add UserDeleteView with url path
  studyoverflow/users/templates/users/profile_current_user.html
  studyoverflow/users/urls.py
  studyoverflow/users/views.py
Due: black, isort, flake8, mypy

feat(smtp): add EMAIL_BACKEND with SMTP settings
  .env.example
  studyoverflow/studyoverflow/settings.py
Due: black, isort

feat(users): add html templates for password reset
  studyoverflow/users/templates/users/password_reset_complete.html
  studyoverflow/users/templates/users/password_reset_confirm.html
  studyoverflow/users/templates/users/password_reset_done.html
  studyoverflow/users/templates/users/password_reset_email.html
  studyoverflow/users/templates/users/password_reset_form.html
Due: none

feat(users): add password reset with views, forms and urls
  studyoverflow/users/forms.py
  studyoverflow/users/templates/users/login.html
  studyoverflow/users/urls.py
  studyoverflow/users/views.py
Due: black, isort, flake8, mypy

feat(users): add email authorization via the CustomUserManager definition
  studyoverflow/users/forms.py
  studyoverflow/users/migrations/0015_alter_user_managers_alter_user_email.py
  studyoverflow/users/models.py
Due: black, isort, flake8, mypy

chore(.gitignore): add staticfiles to .gitignore (dir for collectstatic command)
  .gitignore
Due: none

chore(settings): configure STATIC_ROOT and WhiteNoise
  studyoverflow/studyoverflow/settings.py
Due: black, isort

chore(testing): add locustfile.py for load testing
  studyoverflow/locustfile.py
Due: black, isort, flake8, mypy

feat(db): add connection pool settings
  studyoverflow/studyoverflow/settings.py
Due: black, isort

refactor(posts): refactor PostTagMixin and add ContextTagMixin
  studyoverflow/posts/services/infrastructure.py
  studyoverflow/posts/views.py
Due: black, isort, flake8, mypy

feat(users): add function update_user_counter_field
  studyoverflow/users/services/infrastructure.py
Due: black, isort, flake8, mypy

feat(posts): add signals for posts app
  studyoverflow/posts/apps.py
  studyoverflow/posts/signals.py
Due: black, isort, flake8, mypy

style(users): edit styles for profile
  studyoverflow/users/static/users/css/profile.css
  studyoverflow/users/templates/users/profile_author.html
Due: none

chore(celery): add celery settings
  .env.example
  studyoverflow/studyoverflow/__init__.py
  studyoverflow/studyoverflow/celery.py
  studyoverflow/studyoverflow/settings.py
Due: black, isort

feat(celery): add celery tasks for users avatars update
  studyoverflow/users/services/infrastructure.py
  studyoverflow/users/tasks.py
Due: black, isort, flake8, mypy

feat(users): update save method User model with celery tasks
  studyoverflow/users/models.py
Due: black, isort, flake8, mypy

fix(users): fix success_url for UserProfileUpdateView
  studyoverflow/users/views.py
Due: black, isort, flake8, mypy

fix(users): fix delete user avatars logic
  studyoverflow/users/services/infrastructure.py
  studyoverflow/users/tasks.py
Due: black, isort, flake8, mypy

refactor(users): refactor code for avatars save and generate
  studyoverflow/users/models.py
  studyoverflow/users/services/infrastructure.py
  studyoverflow/users/tasks.py
Due: black, isort, flake8, mypy

feat(users): add avatar preview for comments
  studyoverflow/posts/static/posts/css/comment_card.css
  studyoverflow/posts/templates/posts/comments/_comment_card.html
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$, but not: (?x)(
    venv/|
    __pycache__/|
    .idea/|
    manage.py|
    migrations/
)

  flake8: any of: \.py$, but not: (?x)(
    venv/|
    __pycache__/|
    .*pyc|
    .idea/|
    manage.py|
    migrations/|
    studyoverflow/studyoverflow/
)

  mypy: any of: \.py$, but not: (?x)(
    venv/|
    __pycache__/|
    .idea/|
    manage.py|
    migrations/|
    studyoverflow/studyoverflow/
)

