Repository mikhail-sakulin/django-studyoverflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, mypy

black:
  name: black
  entry: black --config pyproject.toml
  language: system
  pass_filenames: true

isort:
  name: isort
  entry: isort --settings-path pyproject.toml
  language: system
  pass_filenames: true

flake8:
  name: flake8
  entry: flake8 --config .flake8
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: mypy --config-file pyproject.toml
  language: system
  pass_filenames: true

refactor(users): move validators to infrastructure
  studyoverflow/users/migrations/0004_alter_user_username_squashed_0006_alter_user_username.py
  studyoverflow/users/migrations/0007_alter_user_first_name_alter_user_last_name.py
  studyoverflow/users/models.py
  studyoverflow/users/services/domain.py
  studyoverflow/users/services/infrastructure.py
Due: black, isort, flake8, mypy

feat(users): add AvatarFileValidator
  studyoverflow/users/migrations/0012_alter_user_avatar.py
  studyoverflow/users/models.py
  studyoverflow/users/services/infrastructure.py
Due: black, isort, flake8, mypy

chore(users): add profile.js
  studyoverflow/users/static/users/js/profile.js
Due: none

style(users): add profile.css
  studyoverflow/users/static/users/css/profile.css
Due: none

feat(users): add profile templates
  studyoverflow/users/templates/users/profile.html
  studyoverflow/users/templates/users/profile_update_form.html
Due: none

feat(users): add BootstrapFormMixin and UserProfileUpdateForm
  studyoverflow/users/forms.py
Due: black, isort, flake8, mypy

feat(users): add UserProfileUpdateView
  studyoverflow/users/views.py
Due: black, isort, flake8, mypy

feat(users): add users:profile url-path
  studyoverflow/users/urls.py
Due: black, isort, flake8, mypy

feat(users): add profile url-path in base.html
  studyoverflow/navigation/templates/navigation/base.html
Due: none

feat(users): add and edit fields of the User model
  studyoverflow/users/migrations/0013_remove_user_time_update_user_answers_count_and_more.py
  studyoverflow/users/models.py
  studyoverflow/users/services/infrastructure.py
Due: black, isort, flake8, mypy

style(users): add avatar_small for profile.html
  studyoverflow/users/templates/users/profile.html
Due: none

style(navigation): add profile icon
  studyoverflow/navigation/static/navigation/css/base.css
  studyoverflow/navigation/templates/navigation/base.html
Due: none

feat(users): add logic for deleting user avatars
  studyoverflow/users/models.py
Due: black, isort, flake8, mypy

style(users): change styles for login.html
  studyoverflow/users/static/users/css/login.css
  studyoverflow/users/templates/users/login.html
Due: none

style(navigation): add a button to index.html
  studyoverflow/navigation/templates/navigation/index.html
Due: none

feat(settings): add LOGIN_URL
  studyoverflow/studyoverflow/settings.py
Due: black, isort

style(users): add user statistics to profile.html
  studyoverflow/users/templates/users/profile.html
Due: none

refactor(posts): split post_create.html into 2 templates
  studyoverflow/posts/static/posts/css/post_create.css
  studyoverflow/posts/templates/posts/post_create.html
  studyoverflow/posts/templates/posts/post_form_base.html
Due: none

feat(posts): add post_edit.html
  studyoverflow/posts/static/posts/css/post_card.css
  studyoverflow/posts/templates/posts/post_detail.html
  studyoverflow/posts/templates/posts/post_edit.html
Due: none

refactor(posts): add typed mixin PostTagMixin for views
  studyoverflow/posts/services/infrastructure.py
Due: black, isort, flake8, mypy

feat(posts): add PostUpdateView
  studyoverflow/posts/urls.py
  studyoverflow/posts/views.py
Due: black, isort, flake8, mypy

chore(users): add css block for register-login_base.html
  studyoverflow/users/templates/users/register-login_base.html
Due: none

rename(users): answers_count to comments_count User field
  studyoverflow/users/migrations/0014_remove_user_answers_count_user_comments_count.py
  studyoverflow/users/models.py
Due: black, isort, flake8, mypy

feat(posts): add Comment model
  studyoverflow/posts/migrations/0008_comment.py
  studyoverflow/posts/models.py
Due: black, isort, flake8, mypy

feat(posts): add CommentCreateForm
  studyoverflow/posts/forms.py
Due: black, isort, flake8, mypy

feat(users): add LoginRequiredMixin for UserProfileUpdateView
  studyoverflow/users/views.py
Due: black, isort, flake8, mypy

feat(users): add logic for Comment in PostDetailView
  studyoverflow/posts/views.py
Due: black, isort, flake8, mypy

style(messages): edit messages style
  studyoverflow/navigation/static/navigation/css/messages.css
  studyoverflow/navigation/templates/navigation/messages.html
Due: none

feat(posts): add CommentQuerySet, field "reply_to", property "is_edited" for Comment model
  studyoverflow/posts/migrations/0009_comment_reply_to.py
  studyoverflow/posts/models.py
Due: black, isort, flake8, mypy

style(messages): add a style type for messages.ERROR
  studyoverflow/studyoverflow/settings.py
Due: black, isort

style(posts): add styles for comments
  studyoverflow/posts/static/posts/css/comment_card.css
  studyoverflow/posts/static/posts/css/post_detail.css
Due: none

feat(posts): add post_detail.js for logic for comment form
  studyoverflow/posts/static/posts/js/post_detail.js
Due: none

feat(posts): add comment_card.html
  studyoverflow/posts/templates/posts/comment_card.html
Due: none

feat(posts): add comment_form and display comments for post_detail.html
  studyoverflow/posts/templates/posts/post_detail.html
Due: none

feat(posts): add CommentCreateView
  studyoverflow/posts/views.py
Due: black, isort, flake8, mypy

feat(posts): add comment_create url template
  studyoverflow/posts/urls.py
Due: black, isort, flake8, mypy

style(users): edit style for profile.html
  studyoverflow/users/templates/users/profile.html
Due: none

style(posts): edit style for posts html templates
  studyoverflow/posts/templates/posts/post_card.html
  studyoverflow/posts/templates/posts/post_list.html
Due: none

feat(posts): add JS logic to the comment editing form
  studyoverflow/posts/static/posts/js/post_detail.js
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$, but not: (?x)(
    venv/|
    __pycache__/|
    .idea/|
    manage.py|
    migrations/
)

  flake8: any of: \.py$, but not: (?x)(
    venv/|
    __pycache__/|
    .*pyc|
    .idea/|
    manage.py|
    migrations/|
    studyoverflow/studyoverflow/
)

  mypy: any of: \.py$, but not: (?x)(
    venv/|
    __pycache__/|
    .idea/|
    manage.py|
    migrations/|
    studyoverflow/studyoverflow/
)

