Repository mikhail-sakulin/django-studyoverflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, mypy

black:
  name: black
  entry: black --config pyproject.toml
  language: system
  pass_filenames: true

isort:
  name: isort
  entry: isort --settings-path pyproject.toml
  language: system
  pass_filenames: true

flake8:
  name: flake8
  entry: flake8 --config .flake8
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: mypy --config-file pyproject.toml
  language: system
  pass_filenames: true

test(users): add tests for services for avatars and image processing
  studyoverflow/users/services/__init__.py
  studyoverflow/users/services/avatars.py
  studyoverflow/users/services/image_processing.py
  studyoverflow/users/tests.py
  studyoverflow/users/tests/__init__.py
  studyoverflow/users/tests/services/test_avatars.py
  studyoverflow/users/tests/services/test_image_processing.py
Due: black, isort, flake8, mypy

test(users): add tests for services for validators.py
  studyoverflow/users/models.py
  studyoverflow/users/services/validators.py
  studyoverflow/users/tasks.py
  studyoverflow/users/tests/services/test_validators.py
Due: black, isort, flake8, mypy

test(users): add tests for services for moderation.py and permissions.py
  studyoverflow/users/templatetags/users_tags.py
  studyoverflow/users/tests/services/test_moderation.py
  studyoverflow/users/tests/services/test_permissions.py
Due: black, isort, flake8, mypy

test(users): add tests for services for online.py, social_providers.py and user_stats.py
  studyoverflow/users/tests/services/test_online.py
  studyoverflow/users/tests/services/test_social_providers.py
  studyoverflow/users/tests/services/test_user_stats.py
Due: black, isort, flake8, mypy

feat(users): add @require_POST decorator for block and unblock web views
  studyoverflow/users/views/user_views.py
Due: black, isort, flake8, mypy

chore(users): add sync_default_group function for post_migrate signal with registration
  studyoverflow/users/apps.py
  studyoverflow/users/signals.py
Due: black, isort, flake8, mypy

test(users): add tests for web views
  studyoverflow/users/mixins/filter_mixins.py
  studyoverflow/users/tests/web_views/test_web_views.py
Due: black, isort, flake8, mypy

test(users): add tests for adapters.py and authentication_backends.py
  studyoverflow/users/tests/test_adapters.py
  studyoverflow/users/tests/test_authentication_backends.py
Due: black, isort, flake8, mypy

test(users): add tests for forms.py, middleware.py and models.py
  studyoverflow/users/tests/test_forms.py
  studyoverflow/users/tests/test_middleware.py
  studyoverflow/users/tests/test_models.py
Due: black, isort, flake8, mypy

test(users): add tests for signals.py and tasks.py
  studyoverflow/users/tests/test_signals.py
  studyoverflow/users/tests/test_tasks.py
Due: black, isort, flake8, mypy

test(users): add tests for api authentication.py classes
  studyoverflow/users/tests/api/test_authentication.py
Due: black, isort, flake8, mypy

chore(urls): add app_name and namespace for api urls
  studyoverflow/notifications/api/urls.py
  studyoverflow/posts/api/urls.py
  studyoverflow/studyoverflow/urls.py
  studyoverflow/studyoverflow/urls_api_v1.py
  studyoverflow/users/api/urls.py
Due: black, isort, flake8, mypy

test(users): add tests for api serializers.py
  studyoverflow/users/tests/api/test_serializers.py
Due: black, isort, flake8, mypy

test(users): add tests for api views.py
  studyoverflow/users/tests/api/test_api_views.py
Due: black, isort, flake8, mypy

refactor(apps): edit docstring in text_processing.py, refactor notifications/signals/py and navigation/middleware.py
  studyoverflow/navigation/middleware.py
  studyoverflow/notifications/signals.py
  studyoverflow/posts/services/text_processing.py
Due: black, isort, flake8, mypy

chore(logging): add "daphne.access" and "daphne.server" loggers
  studyoverflow/studyoverflow/settings/logging.py
Due: black, isort

chore(linters): move linters and formatters configs to studyoverflow directory
  .pre-commit-config.yaml
  studyoverflow/.flake8
  studyoverflow/pyproject.toml
Due: none

chore(ci): add ci.yml for GitHub
  .github/workflows/ci.yml
Due: none

chore(.pre-commit): update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

fix(linters): edit settings linters and formatters
  studyoverflow/.flake8
  studyoverflow/pyproject.toml
  studyoverflow/users/tests/services/test_user_stats.py
Due: black, isort, flake8, mypy

fix(linters): edit settings linters and formatters
  studyoverflow/.flake8
  studyoverflow/pyproject.toml
  studyoverflow/studyoverflow/settings/test.py
Due: black, isort

chore(ci): edit ci.yml for GitHub
  .github/workflows/ci.yml
Due: none

chore(docker): edit image names
  .env.test
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.test.yml
  docker-compose.yml
Due: none

feat(backend): add healthcheck endpoint
  studyoverflow/navigation/urls.py
  studyoverflow/navigation/views.py
Due: black, isort, flake8, mypy

chore(ci): update ci.yml
  .github/workflows/ci.yml
Due: none

chore(cd): add docker-compose.cd.yml
  docker-compose.cd.yml
Due: none

chore(cd): add cd-checks.yml
  .github/workflows/cd-checks.yml
Due: none

chore(cd): add cd-release.yml
  .github/workflows/cd-release.yml
Due: none

fix(cd): edit release branch name to release/cd
  .github/workflows/cd-checks.yml
  .github/workflows/cd-release.yml
Due: none

chore(ci): remove duplicate CI execution
  .github/workflows/cd-checks.yml
  .github/workflows/ci.yml
Due: none

fix(logging): change "propagate" to False for "django" logger
  studyoverflow/studyoverflow/settings/logging.py
Due: black, isort

chore(docker): add setup for the application image name and tag via .env parameters
  .env.example
  .env.test
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.test.yml
Due: none

chore(docker): add configs for the image names services via .env parameters, edit tags
  .env.example
  .env.test
  .github/workflows/cd-checks.yml
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.test.yml
  docker-compose.yml
Due: none

chore(tests): edit coverage config
  studyoverflow/.coveragerc
Due: none

chore(docker): edit name of docker network
  docker-compose.cd.yml
  docker-compose.prod.yml
  docker-compose.test.yml
  docker-compose.yml
Due: none

docs(.env): edit .env docs
  .env.example
  .env.test
Due: none

chore(git): edit .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$, but not: (?x)(
    venv/|
    __pycache__/|
    .idea/|
    manage.py|
    migrations/
)

  flake8: any of: \.py$, but not: (?x)(
    venv/|
    __pycache__/|
    .*pyc|
    .idea/|
    manage.py|
    migrations/|
    studyoverflow/studyoverflow/
)

  mypy: any of: \.py$, but not: (?x)(
    venv/|
    __pycache__/|
    .idea/|
    manage.py|
    migrations/|
    studyoverflow/studyoverflow/
)

