Repository mikhail-sakulin/django-studyoverflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black --config pyproject.toml
        language: system
        types: [python]
        pass_filenames: true

      - id: isort
        name: isort
        entry: isort --settings-path pyproject.toml
        exclude: |
          (?x)(
              venv/|
              __pycache__/|
              .idea/|
              manage.py|
              migrations/
          )
        language: system
        types: [python]
        pass_filenames: true

      - id: flake8
        name: flake8
        entry: flake8 --config .flake8
        exclude: |
          (?x)(
              venv/|
              __pycache__/|
              .*pyc|
              .idea/|
              manage.py|
              migrations/|
              studyoverflow/studyoverflow/
          )
        language: system
        types: [python]
        pass_filenames: true

      - id: mypy
        name: mypy
        entry: mypy --config-file pyproject.toml
        exclude: |
          (?x)(
              venv/|
              __pycache__/|
              .idea/|
              manage.py|
              migrations/|
              studyoverflow/studyoverflow/
          )
        language: system
        types: [python]
        pass_filenames: true

feat(cache): add cache services for posts and users apps
  studyoverflow/notifications/tests.py
  studyoverflow/posts/services/__init__.py
  studyoverflow/posts/services/cache.py
  studyoverflow/users/services/__init__.py
  studyoverflow/users/services/cache.py
Due: black, isort, flake8, mypy

feat(users): add cache for api views, refactor cache for web views
  studyoverflow/users/api/views.py
  studyoverflow/users/signals.py
  studyoverflow/users/views/user_views.py
Due: black, isort, flake8, mypy

refactor(posts): edit views and mixins to modify caching web views, add caching to api views
  studyoverflow/posts/api/views.py
  studyoverflow/posts/forms.py
  studyoverflow/posts/mixins/common_mixins.py
  studyoverflow/posts/mixins/htmx_mixins.py
  studyoverflow/posts/mixins/queryset_mixins.py
  studyoverflow/posts/services/loggers.py
  studyoverflow/posts/templatetags/posts_tags.py
  studyoverflow/posts/views/comment_views.py
  studyoverflow/posts/views/like_views.py
  studyoverflow/posts/views/post_views.py
Due: black, isort, flake8, mypy

chore(settings): delete DRF custom_exception_handler, add CHANNEL_LAYERS for test.py conf
  studyoverflow/navigation/api/exceptions.py
  studyoverflow/studyoverflow/settings/drf.py
  studyoverflow/studyoverflow/settings/test.py
Due: black, isort, flake8, mypy

test(requirements): add pytest-asyncio and fakeredis for testing
  studyoverflow/pytest.ini
  studyoverflow/requirements.dev.in
  studyoverflow/requirements.dev.lock.txt
Due: none

test(pytest): add PostFactory, CommentFactory and NotificationPostCreateFactory with fixtures
  studyoverflow/conftest.py
  studyoverflow/factories.py
Due: black, isort, flake8, mypy

chore(middleware): edit skip_path_prefixes for UserActivityMiddleware
  studyoverflow/navigation/middleware.py
Due: black, isort, flake8, mypy

chore(navigation): edit http_statuses views
  studyoverflow/navigation/views.py
Due: black, isort, flake8, mypy

test(users): add cache testing for views and for cache service
  studyoverflow/users/tests/api/test_api_views.py
  studyoverflow/users/tests/services/__init__.py
  studyoverflow/users/tests/services/test_cache.py
  studyoverflow/users/tests/web_views/test_web_views.py
Due: black, isort, flake8, mypy

test(posts): add tests for services
  studyoverflow/posts/tests/services/__init__.py
  studyoverflow/posts/tests/services/test_cache.py
  studyoverflow/posts/tests/services/test_loggers.py
  studyoverflow/posts/tests/services/test_validators.py
Due: black, isort, flake8, mypy

test(posts): add tests for posts app python files
  studyoverflow/posts/tests/test_forms.py
  studyoverflow/posts/tests/test_lookups.py
  studyoverflow/posts/tests/test_models.py
  studyoverflow/posts/tests/test_signals.py
  studyoverflow/posts/tests/test_tasks.py
Due: black, isort, flake8, mypy

test(posts): add tests for web views
  studyoverflow/posts/tests/web_views/test_comment_views.py
  studyoverflow/posts/tests/web_views/test_like_views.py
  studyoverflow/posts/tests/web_views/test_post_views.py
Due: black, isort, flake8, mypy

test(posts): add tests for api views
  studyoverflow/posts/tests/api/__init__.py
  studyoverflow/posts/tests/api/test_api_views.py
  studyoverflow/posts/tests/api/test_permissions.py
  studyoverflow/posts/tests/api/test_serializers.py
Due: black, isort, flake8, mypy

test(notifications): add tests for websockets for consumers.py
  studyoverflow/notifications/tasks.py
  studyoverflow/notifications/tests/test_consumers.py
Due: black, isort, flake8, mypy

test(notifications): add tests for signals, tasks and web views
  studyoverflow/notifications/tests/test_signals.py
  studyoverflow/notifications/tests/test_tasks.py
  studyoverflow/notifications/tests/test_web_views.py
Due: black, isort, flake8, mypy

test(notifications): add tests for services handlers
  studyoverflow/notifications/tests/__init__.py
  studyoverflow/notifications/tests/services/test_notification_handlers.py
Due: black, isort, flake8, mypy

test(notifications): add tests for api
  studyoverflow/notifications/tests/api/__init__.py
  studyoverflow/notifications/tests/api/test_api_views.py
  studyoverflow/notifications/tests/api/test_serializers.py
Due: black, isort, flake8, mypy

test(navigation): add tests for middleware
  studyoverflow/navigation/tests/__init__.py
  studyoverflow/navigation/tests/test_middleware.py
Due: black, isort, flake8, mypy

chore(cd): add some smoke tests for cd-checks.yml
  .github/workflows/cd-checks.yml
Due: none

chore(pre-commit): edit docs for pre-commit config
  .pre-commit-config.yaml
Due: none

test(posts): add LikeFactory with fixture
  studyoverflow/conftest.py
  studyoverflow/factories.py
Due: black, isort, flake8, mypy

chore(posts): add cache services for cache key and delete cache
  studyoverflow/posts/services/__init__.py
  studyoverflow/posts/services/cache.py
Due: black, isort, flake8, mypy

test(posts): update posts tests with refactor cache logic
  studyoverflow/posts/tests/api/test_api_views.py
  studyoverflow/posts/tests/services/test_cache.py
  studyoverflow/posts/tests/web_views/test_post_views.py
Due: black, isort, flake8, mypy

test(apps): edit tests with like_factory fixture
  studyoverflow/notifications/tests/api/test_serializers.py
  studyoverflow/notifications/tests/services/test_notification_handlers.py
  studyoverflow/notifications/tests/test_signals.py
  studyoverflow/posts/tests/test_models.py
  studyoverflow/posts/tests/test_signals.py
  studyoverflow/posts/tests/test_tasks.py
Due: black, isort, flake8, mypy

fix(urls): fix open api url config with correct url_name's
  studyoverflow/studyoverflow/urls_api_v1.py
Due: black, isort

chore(posts): add invalidate_post_cache_on_save_or_delete signal with test for this signal
  studyoverflow/posts/signals.py
  studyoverflow/posts/tests/test_signals.py
Due: black, isort, flake8, mypy

fix(posts): fix like button id in html template
  studyoverflow/posts/static/posts/css/like_button.css
  studyoverflow/posts/templates/posts/comments/_comment_card.html
  studyoverflow/posts/templates/posts/likes/_like-button.html
  studyoverflow/posts/templates/posts/post_card.html
  studyoverflow/posts/templates/posts/post_detail.html
  studyoverflow/posts/views/like_views.py
Due: black, isort, flake8, mypy

test(posts): add integration tests for apps interaction
  studyoverflow/navigation/tests/test_integrations.py
Due: black, isort, flake8, mypy

fix(docker): chown celerybeat_data to userdj
  studyoverflow/Dockerfile
Due: none

fix(docker): add volume overrides in docker-compose.cd.yml
  docker-compose.cd.yml
Due: none

fix(docker): delete container names in docker-compose files
  docker-compose.prod.yml
  docker-compose.yml
Due: none

docs(pytest): add comments in pytest.ini
  studyoverflow/pytest.ini
Due: none

chore(users): edit the order of fields in UserProfileUpdateForm
  studyoverflow/users/forms.py
Due: black, isort, flake8, mypy

chore(posts): add cache services for tag list for cache key and clearing cache
  studyoverflow/posts/services/__init__.py
  studyoverflow/posts/services/cache.py
  studyoverflow/posts/tests/api/test_api_views.py
  studyoverflow/posts/tests/web_views/test_post_views.py
Due: black, isort, flake8, mypy

test(posts): add new tests for tag list cache
  studyoverflow/posts/tests/services/test_cache.py
Due: black, isort, flake8, mypy

chore(posts): add invalidate_tags_cache_on_save_or_delete signal with test
  studyoverflow/posts/signals.py
  studyoverflow/posts/tests/test_signals.py
Due: black, isort, flake8, mypy

ci: add project name flags (-p) to docker compose commands in CI/CD
  .github/workflows/cd-checks.yml
  .github/workflows/cd-release.yml
  .github/workflows/ci.yml
  docker-compose.cd.yml
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.test.yml
  docker-compose.yml
Due: none

test(pytest): add pytest-timeout for pytest in pytest.ini
  studyoverflow/pytest.ini
  studyoverflow/requirements.dev.in
  studyoverflow/requirements.dev.lock.txt
Due: none

feat(navigation): add swagger menu element for header
  studyoverflow/navigation/menu.py
  studyoverflow/studyoverflow/settings/drf.py
  studyoverflow/studyoverflow/urls_api_v1.py
  studyoverflow/templates/drf_spectacular/swagger_ui.html
Due: black, isort, flake8, mypy

perf(users): add cache services for User for cache key and clearing cache
  studyoverflow/users/api/views.py
  studyoverflow/users/services/__init__.py
  studyoverflow/users/services/cache.py
  studyoverflow/users/services/user_stats.py
  studyoverflow/users/signals.py
  studyoverflow/users/tests/api/test_api_views.py
  studyoverflow/users/tests/services/test_cache.py
  studyoverflow/users/tests/test_signals.py
  studyoverflow/users/tests/web_views/test_web_views.py
  studyoverflow/users/views/user_views.py
Due: black, isort, flake8, mypy
