Repository mikhail-sakulin/django-studyoverflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, mypy

black:
  name: black
  entry: black --config pyproject.toml
  language: system
  pass_filenames: true

isort:
  name: isort
  entry: isort --settings-path pyproject.toml
  language: system
  pass_filenames: true

flake8:
  name: flake8
  entry: flake8 --config .flake8
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: mypy --config-file pyproject.toml
  language: system
  pass_filenames: true

chore(.gitignore): add e2e/test-results to .gitignore
  .gitignore
Due: none

chore(requirements): add tinycss2 for base build
  studyoverflow/requirements.base.in
  studyoverflow/requirements.dev.lock.txt
Due: none

feat(navigation): add footer to all pages of the project
  studyoverflow/navigation/static/navigation/css/base.css
  studyoverflow/navigation/static/navigation/css/index.css
  studyoverflow/navigation/templates/navigation/_footer.html
  studyoverflow/navigation/templates/navigation/_header.html
  studyoverflow/navigation/templates/navigation/base.html
  studyoverflow/navigation/templates/navigation/index.html
  studyoverflow/studyoverflow/settings/drf.py
  studyoverflow/templates/drf_spectacular/swagger_ui.html
Due: black, isort

feat(posts): add jump-to-page functional to pagination
  studyoverflow/posts/static/posts/css/pagination.css
  studyoverflow/posts/static/posts/js/pagination.js
  studyoverflow/posts/templates/posts/_pagination.html
  studyoverflow/posts/templates/posts/_pagination_jump.html
  studyoverflow/posts/templates/posts/post_list.html
Due: none

fix(posts): update markdown render logic
  studyoverflow/posts/services/text_processing.py
  studyoverflow/posts/static/posts/css/filters.css
  studyoverflow/posts/static/posts/js/filters.js
  studyoverflow/posts/templates/posts/_filters.html
Due: black, isort, flake8, mypy

chore(requirements): delete locust from dev build
  studyoverflow/locustfile.py
  studyoverflow/requirements.dev.in
  studyoverflow/requirements.dev.lock.txt
Due: black, isort, flake8, mypy

chore(docker): update .dockerignore
  studyoverflow/.dockerignore
Due: none

ci(e2e): setup Docker environment and dependencies for Playwright
  e2e/.dockerignore
  e2e/Dockerfile
  e2e/docker-compose.e2e.yml
  e2e/requirements.in
  e2e/requirements.lock.txt
Due: none

test(e2e): setup Page Object Models, fixtures, and data generators
  e2e/helpers/data_generators.py
  e2e/helpers/pages.py
  e2e/tests/conftest.py
Due: black, isort, flake8, mypy

test(e2e): add end-to-end tests for core features
  e2e/tests/test_auth.py
  e2e/tests/test_comments.py
  e2e/tests/test_likes_notifications.py
  e2e/tests/test_posts.py
  e2e/tests/test_profile.py
Due: black, isort, flake8, mypy

ci: add e2e tests to cd checks workflow
  .github/workflows/cd-checks.yml
Due: none

fix(requirements): add tinycss2 to requirements.base.lock.txt
  studyoverflow/requirements.base.lock.txt
Due: none

docs(promtail): add promtail configuration documentation
  monitoring/promtail/promtail-config.yml
Due: none

docs(loki): add loki configuration documentation
  monitoring/loki/loki-config.yml
Due: none

docs(pytest): edit pytest.ini configuration documentation
  studyoverflow/pytest.ini
Due: none

chore(docker): remove host volume mounting for celery services
  docker-compose.dev.yml
Due: none

docs(docker): add documentation for celery and backend commands in docker-compose
  docker-compose.prod.yml
  docker-compose.yml
Due: none

perf(posts): add search_content field for Post
  studyoverflow/posts/migrations/0022_remove_post_post_content_trgm_post_search_content_and_more.py
  studyoverflow/posts/mixins/queryset_mixins.py
  studyoverflow/posts/models.py
  studyoverflow/posts/services/__init__.py
  studyoverflow/posts/services/text_processing.py
  studyoverflow/posts/tests/services/test_text_processing.py
  studyoverflow/posts/tests/test_models.py
  studyoverflow/users/models.py
Due: black, isort, flake8, mypy

docs(settings): edit docstring for CELERY_RESULT_BACKEND param in settings
  studyoverflow/studyoverflow/settings/celery_channel_cache.py
Due: black, isort

docs(.env.test): fix a typo in the comment
  .env.test
Due: none

docs(settings): add documentation for logging settings
  studyoverflow/studyoverflow/settings/logging.py
Due: black, isort

docs(pyproject): add documentation for some params for isort and mypy
  studyoverflow/pyproject.toml
Due: none

docs(celery): add documentation for configs in celery.py
  studyoverflow/studyoverflow/celery.py
Due: black, isort

chore(celery): update parameters of celery tasks
  studyoverflow/notifications/tasks.py
  studyoverflow/posts/tasks.py
  studyoverflow/users/tasks.py
Due: black, isort, flake8, mypy

chore(nginx): switch robots.txt serving from the backend to Nginx
  nginx/studyoverflow.conf
  studyoverflow/static/robots.txt
  studyoverflow/studyoverflow/urls.py
  studyoverflow/templates/robots.txt
Due: black, isort

chore(cache): edit cache TTL for post detail, tags and user profile
  studyoverflow/posts/services/cache.py
  studyoverflow/users/services/cache.py
  studyoverflow/users/services/online.py
  studyoverflow/users/tests/services/test_online.py
Due: black, isort, flake8, mypy

docs(asgi): add documentation for asgi.py configuration
  studyoverflow/notifications/routing.py
  studyoverflow/studyoverflow/asgi.py
Due: black, isort, flake8, mypy

refactor(types): fix type errors found by mypy in notifications, applies to notification_type
  studyoverflow/notifications/services/notification_handlers.py
  studyoverflow/notifications/tests/test_tasks.py
Due: black, isort, flake8, mypy

chore(.gitignore): add .env.prod.vps
  .gitignore
Due: none

build(deps): add gevent==25.9.1 in base build
  studyoverflow/requirements.base.in
  studyoverflow/requirements.base.lock.txt
  studyoverflow/requirements.dev.lock.txt
Due: none

docs(pytest): fix docstring in pytest.ini
  studyoverflow/pytest.ini
Due: none

perf(settings): add DB_USE_POOL env var for using database connection pooling or not
  studyoverflow/studyoverflow/settings/database_s3storage_static.py
Due: black, isort

build(nginx): add Dockerfile-lite and config for lite prod build
  nginx/Dockerfile-lite
  nginx/studyoverflow-lite.conf
Due: none

chore(docker): add docker-compose files for lite prod build and cd-testing
  docker-compose.cd-lite.yml
  docker-compose.prod-lite.yml
Due: none

ci(checks): add production-lite build and e2e testing job for cd
  .github/workflows/cd-checks.yml
Due: none

ci(deploy): add prod-lite deployment job and workflow
  .github/workflows/cd-deploy.yml
  .github/workflows/cd-release.yml
Due: none

fix(celery): switch prod-lite worker pool from gevent to threads
  docker-compose.prod-lite.yml
  studyoverflow/requirements.base.in
  studyoverflow/studyoverflow/settings/database_s3storage_static.py
Due: black, isort

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$, but not: (?x)(
    venv/|
    __pycache__/|
    .idea/|
    manage.py|
    migrations/
)

  flake8: any of: \.py$, but not: (?x)(
    venv/|
    __pycache__/|
    .*pyc|
    .idea/|
    manage.py|
    migrations/|
    studyoverflow/studyoverflow/
)

  mypy: any of: \.py$, but not: (?x)(
    venv/|
    __pycache__/|
    .idea/|
    manage.py|
    migrations/|
    studyoverflow/studyoverflow/
)

