Repository mikhail-sakulin/django-studyoverflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black --config pyproject.toml
        language: system
        types: [python]
        pass_filenames: true

      - id: isort
        name: isort
        entry: isort --settings-path pyproject.toml
        exclude: |
          (?x)(
              venv/|
              __pycache__/|
              .idea/|
              manage.py|
              migrations/
          )
        language: system
        types: [python]
        pass_filenames: true

      - id: flake8
        name: flake8
        entry: flake8 --config .flake8
        exclude: |
          (?x)(
              venv/|
              __pycache__/|
              .*pyc|
              .idea/|
              manage.py|
              migrations/|
              studyoverflow/studyoverflow/
          )
        language: system
        types: [python]
        pass_filenames: true

      - id: mypy
        name: mypy
        entry: mypy --config-file pyproject.toml
        exclude: |
          (?x)(
              venv/|
              __pycache__/|
              .idea/|
              manage.py|
              migrations/|
              studyoverflow/studyoverflow/
          )
        language: system
        types: [python]
        pass_filenames: true

chore(posts): change height for overflow gradient for post_card.css
  studyoverflow/posts/static/posts/css/post_card.css
Due: none

feat(posts): add menu for header with simple_tag and selected effect
  studyoverflow/posts/services/domain.py
  studyoverflow/posts/templatetags/posts_tags.py
  studyoverflow/posts/views.py
  studyoverflow/static/base/css/base.css
  studyoverflow/templates/base/base.html
Due: black, isort, flake8, mypy

feat(users): add app users
  studyoverflow/studyoverflow/settings.py
  studyoverflow/studyoverflow/urls.py
  studyoverflow/users/__init__.py
  studyoverflow/users/admin.py
  studyoverflow/users/apps.py
  studyoverflow/users/migrations/__init__.py
  studyoverflow/users/models.py
  studyoverflow/users/tests.py
  studyoverflow/users/urls.py
  studyoverflow/users/views.py
Due: black, isort, flake8, mypy

feat(navigation): add a navigation app, refactor base.html, index.html and menu
  studyoverflow/navigation/__init__.py
  studyoverflow/navigation/apps.py
  studyoverflow/navigation/menu.py
  studyoverflow/navigation/static/navigation/css/base.css
  studyoverflow/navigation/static/navigation/css/index.css
  studyoverflow/navigation/static/navigation/img/background_home_page.png
  studyoverflow/navigation/static/navigation/js/index.js
  studyoverflow/navigation/templates/navigation/base.html
  studyoverflow/navigation/templates/navigation/index.html
  studyoverflow/navigation/templatetags/__init__.py
  studyoverflow/navigation/templatetags/navigation_tags.py
  studyoverflow/navigation/urls.py
  studyoverflow/navigation/views.py
  studyoverflow/posts/services/domain.py
  studyoverflow/posts/templates/posts/create_post.html
  studyoverflow/posts/templates/posts/post_detail.html
  studyoverflow/posts/templates/posts/post_list.html
  studyoverflow/posts/templatetags/posts_tags.py
  studyoverflow/studyoverflow/settings.py
  studyoverflow/studyoverflow/urls.py
  studyoverflow/users/templates/users/users.html
  studyoverflow/users/urls.py
  studyoverflow/users/views.py
Due: black, isort, flake8, mypy

chore(users): add services files for users
  studyoverflow/posts/services/infrastructure.py
  studyoverflow/users/services/__init__.py
  studyoverflow/users/services/domain.py
  studyoverflow/users/services/infrastructure.py
  studyoverflow/users/services/utils.py
Due: black, isort, flake8, mypy

chore: update .gitignore for fixtures
  .gitignore
Due: none

feat(users): add custom user model
  studyoverflow/media/avatars/default_avatar.jpg
  studyoverflow/studyoverflow/settings.py
  studyoverflow/users/migrations/0001_initial.py
  studyoverflow/users/migrations/0002_delete_user.py
  studyoverflow/users/migrations/0003_initial.py
  studyoverflow/users/models.py
  studyoverflow/users/services/domain.py
  studyoverflow/users/services/infrastructure.py
Due: black, isort, flake8, mypy

fix(users): add extra_context for menu
  studyoverflow/users/views.py
Due: black, isort, flake8, mypy

refactor(posts): remove unused code
  studyoverflow/posts/urls.py
  studyoverflow/posts/views.py
Due: black, isort, flake8, mypy

chore: add urlpatterns for media files
  studyoverflow/studyoverflow/urls.py
Due: black, isort

fix(posts): fix extra_context for PostListView
  studyoverflow/posts/views.py
Due: black, isort, flake8, mypy

feat(users): change username field for User model and add CustomUsernameValidator
  studyoverflow/users/migrations/0004_alter_user_username_squashed_0006_alter_user_username.py
  studyoverflow/users/models.py
  studyoverflow/users/services/domain.py
Due: black, isort, flake8, mypy

feat(users): change first_name and last_name fields and add PersonalNameValidator
  studyoverflow/users/migrations/0007_alter_user_first_name_alter_user_last_name.py
  studyoverflow/users/models.py
  studyoverflow/users/services/domain.py
Due: black, isort, flake8, mypy

feat(users): add register.html with css
  studyoverflow/users/static/users/css/register.css
  studyoverflow/users/templates/users/register.html
Due: none

feat(users): add UserRegisterView and UserRegisterForm
  studyoverflow/users/forms.py
  studyoverflow/users/views.py
Due: black, isort, flake8, mypy

feat(users): add register url path
  studyoverflow/users/urls.py
Due: black, isort, flake8, mypy

feat(users): add "django.middleware.locale.LocaleMiddleware",
  studyoverflow/studyoverflow/settings.py
Due: black, isort

feat(users): add register path for buttons in base.html and index.html
  studyoverflow/navigation/templates/navigation/base.html
  studyoverflow/navigation/templates/navigation/index.html
Due: none

feat: register models for admin panel
  studyoverflow/posts/admin.py
  studyoverflow/posts/models.py
  studyoverflow/users/admin.py
Due: black, isort, flake8, mypy

refactor(users): refactor register.html and styles
  studyoverflow/users/static/users/css/register-login.css
  studyoverflow/users/templates/users/register-login_base.html
  studyoverflow/users/templates/users/register.html
Due: none

feat(users): add login.html
  studyoverflow/users/templates/users/login.html
Due: none

feat(users): add UserLoginForm
  studyoverflow/users/forms.py
Due: black, isort, flake8, mypy

feat(users): add UserLoginView with urls path
  studyoverflow/studyoverflow/settings.py
  studyoverflow/users/urls.py
  studyoverflow/users/views.py
Due: black, isort, flake8, mypy

feat(users): add login link for base.html
  studyoverflow/navigation/templates/navigation/base.html
Due: none

feat(users): add redirect via ?next param after registration
  studyoverflow/navigation/templates/navigation/base.html
  studyoverflow/navigation/templates/navigation/index.html
  studyoverflow/users/templates/users/register.html
  studyoverflow/users/views.py
Due: black, isort, flake8, mypy

feat(users): add LogoutView
  studyoverflow/navigation/templates/navigation/base.html
  studyoverflow/users/urls.py
Due: black, isort, flake8, mypy

feat(messages): add template, styles and JS for Django messages
  studyoverflow/navigation/static/navigation/css/messages.css
  studyoverflow/navigation/static/navigation/js/messages.js
  studyoverflow/navigation/templates/navigation/messages.html
  studyoverflow/studyoverflow/settings.py
Due: black, isort

feat(messages): add messages template in base.html
  studyoverflow/navigation/templates/navigation/base.html
Due: none

feat(messages): add messages for register, login and logout
  studyoverflow/studyoverflow/settings.py
  studyoverflow/users/urls.py
  studyoverflow/users/views.py
Due: black, isort, flake8, mypy

feat(posts): add author field for Post model
  studyoverflow/posts/migrations/0007_post_author.py
  studyoverflow/posts/models.py
Due: black, isort, flake8, mypy

feat(posts): add displaying an avatar on post pages with styles
  studyoverflow/posts/static/posts/css/post_card.css
  studyoverflow/posts/static/posts/css/post_detail.css
  studyoverflow/posts/templates/posts/post_card.html
  studyoverflow/posts/templates/posts/post_detail.html
Due: none

feat(users): add avatar_small field for User with logic for generating a reduced image
  studyoverflow/users/migrations/0008_user_avatar_small.py
  studyoverflow/users/models.py
  studyoverflow/users/services/domain.py
  studyoverflow/users/services/infrastructure.py
Due: black, isort, flake8, mypy

feat(users): add safely automatic delete old avatars
  studyoverflow/users/models.py
  studyoverflow/users/services/domain.py
  studyoverflow/users/services/infrastructure.py
Due: black, isort, flake8, mypy

chore(.gitignore): ignore media folders
  .gitignore
Due: none

feat(storage): add AWS S3 (Beget) media storage configuration
  .env.example
  studyoverflow/studyoverflow/settings.py
Due: black, isort

feat(users): change the logic for generating and saving avatars for S3 storage
  studyoverflow/users/migrations/0009_alter_user_avatar.py
  studyoverflow/users/models.py
  studyoverflow/users/services/domain.py
  studyoverflow/users/services/infrastructure.py
Due: black, isort, flake8, mypy

style(posts): update author avatar markup
  studyoverflow/posts/templates/posts/post_card.html
  studyoverflow/posts/templates/posts/post_detail.html
Due: none

feat(users): add multiple avatar sizes
  studyoverflow/users/migrations/0010_remove_user_avatar_small_user_avatar_small_size1_and_more.py
  studyoverflow/users/models.py
  studyoverflow/users/services/domain.py
  studyoverflow/users/services/infrastructure.py
Due: black, isort, flake8, mypy

feat(posts): display avatars in multiple sizes
  studyoverflow/posts/templates/posts/post_card.html
  studyoverflow/posts/templates/posts/post_detail.html
Due: none

feat(users): add generate avatars in multiple sizes
  studyoverflow/studyoverflow/settings.py
  studyoverflow/users/migrations/0010_remove_user_avatar_small_user_avatar_small_size1_and_more.py
  studyoverflow/users/migrations/0010_remove_user_avatar_small_user_avatar_small_size1_and_more_squashed_0011_alter_user_avatar_small_size1_and_more.py
  studyoverflow/users/models.py
  studyoverflow/users/services/infrastructure.py
Due: black, isort, flake8, mypy
