Repository mikhail-sakulin/django-studyoverflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black --config pyproject.toml
        language: system
        types: [python]
        pass_filenames: true

      - id: isort
        name: isort
        entry: isort --settings-path pyproject.toml
        exclude: |
          (?x)(
              venv/|
              __pycache__/|
              .idea/|
              manage.py|
              migrations/
          )
        language: system
        types: [python]
        pass_filenames: true

      - id: flake8
        name: flake8
        entry: flake8 --config .flake8
        exclude: |
          (?x)(
              venv/|
              __pycache__/|
              .*pyc|
              .idea/|
              manage.py|
              migrations/|
              studyoverflow/studyoverflow/
          )
        language: system
        types: [python]
        pass_filenames: true

      - id: mypy
        name: mypy
        entry: mypy --config-file pyproject.toml
        exclude: |
          (?x)(
              venv/|
              __pycache__/|
              .idea/|
              manage.py|
              migrations/|
              studyoverflow/studyoverflow/
          )
        language: system
        types: [python]
        pass_filenames: true

feat(auth): use custom serializer for dj-rest-auth user details response
  studyoverflow/studyoverflow/settings/auth.py
Due: black, isort

feat(notifications): use AvatarSerializer for actor and validate mark_read via serializer
  studyoverflow/notifications/api/serializers.py
  studyoverflow/notifications/api/views.py
Due: black, isort, flake8, mypy

perf(notifications): optimize actor/content_type prefetch and add content_type+object_id index
  studyoverflow/notifications/migrations/0004_notification_notificatio_content_702c56_idx.py
  studyoverflow/notifications/mixins/queryset_mixins.py
  studyoverflow/notifications/models.py
Due: black, isort, flake8, mypy

fix(navigation): fix notification bell icon wrapper and particle animation positions
  studyoverflow/navigation/static/navigation/css/base.css
  studyoverflow/navigation/templates/navigation/_header.html
  studyoverflow/notifications/static/notifications/js/websocket_notifications.js
Due: none

feat(posts): add response OpenAPI-schema for comments pagination
  studyoverflow/posts/api/pagination.py
Due: black, isort, flake8, mypy

feat(posts): split comment serializer into base/child/parent variants, rename children_count to child_count
  studyoverflow/posts/api/serializers.py
  studyoverflow/posts/api/views.py
  studyoverflow/posts/tests/api/test_api_views.py
  studyoverflow/posts/tests/api/test_serializers.py
Due: black, isort, flake8, mypy

docs(.env): update .env.example
  .env.example
Due: none

fix(posts): add MIN_TITLE_LENGTH constant to Post model and validator, update comments in posts models
  studyoverflow/posts/api/serializers.py
  studyoverflow/posts/migrations/0024_alter_post_title.py
  studyoverflow/posts/models.py
Due: black, isort, flake8, mypy

docs(posts): fix rules for markdown formatting in _markdown_rules.html
  studyoverflow/posts/templates/posts/_markdown_rules.html
Due: none

docs(notifications): fix text in _notification_list.html
  studyoverflow/notifications/templates/notifications/_notification_list.html
Due: none

docs(navigation): fix comment in menu.py
  studyoverflow/navigation/menu.py
Due: black, isort, flake8, mypy

docs(api): update descriptions for OpenAPI auth schemes
  studyoverflow/navigation/api/swagger_extensions.py
Due: black, isort, flake8, mypy

chore(cd): prune all unused Docker images in cd-deploy.yml
  .github/workflows/cd-deploy.yml
Due: none

chore(cd): add full registry image names to release .env in cd-tag-release.yml
  .github/workflows/cd-tag-release.yml
Due: none

chore(pre-commit): remove -n 0 flag from django-tests hook
  .pre-commit-config.yaml
Due: none

fix(posts): avoid deferred content reload on save
  studyoverflow/posts/models.py
Due: black, isort, flake8, mypy

feat(posts): add search query validation and show filter errors in post list
  studyoverflow/posts/forms.py
  studyoverflow/posts/services/validators.py
  studyoverflow/posts/templates/posts/_filters.html
  studyoverflow/posts/templates/posts/post_list.html
  studyoverflow/posts/tests/services/test_validators.py
  studyoverflow/posts/views/post_views.py
Due: black, isort, flake8, mypy

feat(posts/api): validate filter query params in post list endpoint
  studyoverflow/posts/api/serializers.py
  studyoverflow/posts/api/views.py
  studyoverflow/posts/tests/api/test_serializers.py
Due: black, isort, flake8, mypy

fix(users): make username and email unique case-insensitively via Upper constraints
  studyoverflow/users/forms.py
  studyoverflow/users/migrations/0030_remove_user_unique_user_lowercase_email_and_more.py
  studyoverflow/users/models.py
Due: black, isort, flake8, mypy

style(footer): fix dash in footer text
  studyoverflow/navigation/templates/navigation/_footer.html
Due: none

style(posts): fix spacing of markdown preview label
  studyoverflow/posts/templates/posts/post_form_base.html
Due: none

docs(.env): update image name comments in .env.example
  .env.example
Due: none

docs(requirements): update comments about celery pool in prod-lite build
  studyoverflow/requirements.base.in
Due: none

docs(cd): update comments about prod-lite build
  .github/workflows/cd-checks.yml
Due: none

chore(cd): add run instructions to release body in cd-tag-release.yml
  .github/workflows/cd-tag-release.yml
Due: none

fix(settings): parse EMAIL_USE_SSL as bool and add CSRF_TRUSTED_ORIGINS
  studyoverflow/studyoverflow/settings/base.py
Due: black, isort

refactor(api): use JSON parser by default, fix logout-all order and UserMyProfileSerializer
  studyoverflow/studyoverflow/settings/drf.py
  studyoverflow/users/api/serializers.py
  studyoverflow/users/api/views.py
Due: black, isort, flake8, mypy

refactor(admin): use get_user_model() in users and notifications admin
  studyoverflow/notifications/admin.py
  studyoverflow/users/admin.py
Due: black, isort, flake8, mypy

fix(notifications): import settings from django.conf
  studyoverflow/notifications/models.py
Due: black, isort, flake8, mypy

feat(posts/api): add role and is_blocked to AuthorSerializer, use model fields in PostSerializer
  studyoverflow/posts/api/serializers.py
  studyoverflow/posts/mixins/queryset_mixins.py
Due: black, isort, flake8, mypy

refactor(posts/api): use Post and Comment constants in OpenAPI examples
  studyoverflow/posts/api/openapi_responses.py
Due: black, isort, flake8, mypy

fix(posts): skip post cache invalidation for unrelated user fields
  studyoverflow/posts/services/cache.py
  studyoverflow/posts/signals.py
Due: black, isort, flake8, mypy

fix(users): skip user cache invalidation for password and last_login
  studyoverflow/users/services/cache.py
  studyoverflow/users/signals.py
Due: black, isort, flake8, mypy

fix(posts): lock object with select_for_update when toggling like
  studyoverflow/posts/api/views.py
  studyoverflow/posts/services/like_handler.py
  studyoverflow/posts/tests/api/test_api_views.py
  studyoverflow/posts/tests/services/test_like_handler.py
  studyoverflow/posts/views/like_views.py
Due: black, isort, flake8, mypy

fix(posts/admin): clear rendered and search content and invalidate cache
  studyoverflow/posts/admin.py
Due: black, isort, flake8, mypy

refactor(posts): mark markdown_safe filter output as safe via mark_safe
  studyoverflow/posts/templatetags/posts_tags.py
Due: black, isort, flake8, mypy

refactor(posts): put LoginRequiredMixin first in PostCreateView
  studyoverflow/posts/views/post_views.py
Due: black, isort, flake8, mypy

feat(notifications): add async Redis client and async_set_user_online
  studyoverflow/notifications/consumers.py
  studyoverflow/notifications/tests/test_consumers.py
  studyoverflow/users/services/online.py
  studyoverflow/users/tests/services/test_online.py
Due: black, isort, flake8, mypy

fix(users): return 400 on invalid HTMX pagination params
  studyoverflow/users/mixins/filter_mixins.py
  studyoverflow/users/tests/test_web_views.py
Due: black, isort, flake8, mypy
