Repository mikhail-sakulin/django-studyoverflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black --config pyproject.toml
        language: system
        types: [python]
        pass_filenames: true

      - id: isort
        name: isort
        entry: isort --settings-path pyproject.toml
        exclude: |
          (?x)(
              venv/|
              __pycache__/|
              .idea/|
              manage.py|
              migrations/
          )
        language: system
        types: [python]
        pass_filenames: true

      - id: flake8
        name: flake8
        entry: flake8 --config .flake8
        exclude: |
          (?x)(
              venv/|
              __pycache__/|
              .*pyc|
              .idea/|
              manage.py|
              migrations/|
              studyoverflow/studyoverflow/
          )
        language: system
        types: [python]
        pass_filenames: true

      - id: mypy
        name: mypy
        entry: mypy --config-file pyproject.toml
        exclude: |
          (?x)(
              venv/|
              __pycache__/|
              .idea/|
              manage.py|
              migrations/|
              studyoverflow/studyoverflow/
          )
        language: system
        types: [python]
        pass_filenames: true

feat(notifications): add complete notifications app
  studyoverflow/notifications/__init__.py
  studyoverflow/notifications/admin.py
  studyoverflow/notifications/apps.py
  studyoverflow/notifications/consumers.py
  studyoverflow/notifications/migrations/0001_initial.py
  studyoverflow/notifications/migrations/0002_alter_notification_notification_type.py
  studyoverflow/notifications/migrations/__init__.py
  studyoverflow/notifications/models.py
  studyoverflow/notifications/routing.py
  studyoverflow/notifications/services/infrastructure.py
  studyoverflow/notifications/signals.py
  studyoverflow/notifications/static/notifications/css/notification_list.css
  studyoverflow/notifications/static/notifications/js/notification_list.js
  studyoverflow/notifications/static/notifications/js/websocket_notifications.js
  studyoverflow/notifications/tasks.py
  studyoverflow/notifications/templates/notifications/_notification_card.html
  studyoverflow/notifications/templates/notifications/_notification_list.html
  studyoverflow/notifications/templates/notifications/notification_base.html
  studyoverflow/notifications/templatetags/notifications_tags.py
  studyoverflow/notifications/tests.py
  studyoverflow/notifications/urls.py
  studyoverflow/notifications/views.py
Due: black, isort, flake8, mypy

feat(settings): add Channels, Celery-once, ASGI and debug-toolbar settings
  .env.example
  studyoverflow/studyoverflow/asgi.py
  studyoverflow/studyoverflow/settings.py
  studyoverflow/studyoverflow/urls.py
Due: black, isort

feat(users, posts): add get_absolute_url and notifications GenericRelation for models
  studyoverflow/posts/models.py
  studyoverflow/users/models.py
Due: black, isort, flake8, mypy

feat(messages): add dynamic messages
  studyoverflow/navigation/static/navigation/js/messages.js
  studyoverflow/navigation/templates/navigation/messages.html
  studyoverflow/posts/services/infrastructure.py
Due: black, isort, flake8, mypy

fix(users): fix modal-loading-indicator
  studyoverflow/users/templates/users/_avatar_modal.html
Due: none

feat(posts): add scrolling to the comment after the htmx update
  studyoverflow/posts/static/posts/js/post_detail.js
Due: none

fix(users): fix profile form error checking
  studyoverflow/users/static/users/js/profile.js
Due: none

feat(navigation): add notifications to base.html
  studyoverflow/navigation/static/navigation/css/base.css
  studyoverflow/navigation/templates/navigation/base.html
Due: none

feat(users): add user online status tracking with celery, redis, channels and middleware
  .env.example
  .gitignore
  studyoverflow/notifications/consumers.py
  studyoverflow/notifications/static/notifications/js/websocket_notifications.js
  studyoverflow/studyoverflow/celery.py
  studyoverflow/studyoverflow/settings.py
  studyoverflow/users/middleware.py
  studyoverflow/users/migrations/0016_alter_user_last_seen.py
  studyoverflow/users/models.py
  studyoverflow/users/services/infrastructure.py
  studyoverflow/users/static/users/css/profile.css
  studyoverflow/users/tasks.py
  studyoverflow/users/templates/users/profile_author.html
  studyoverflow/users/templatetags/users_tags.py
Due: black, isort, flake8, mypy

feat(users): add user list page with filtering, sorting and htmx pagination
  .flake8
  studyoverflow/posts/static/posts/js/filters.js
  studyoverflow/users/services/infrastructure.py
  studyoverflow/users/static/users/css/user_card.css
  studyoverflow/users/static/users/css/user_sort.css
  studyoverflow/users/static/users/js/user_sort.js
  studyoverflow/users/templates/users/_user_card.html
  studyoverflow/users/templates/users/_user_grid.html
  studyoverflow/users/templates/users/_user_sort.html
  studyoverflow/users/templates/users/user_list.html
  studyoverflow/users/templates/users/users.html
  studyoverflow/users/urls.py
  studyoverflow/users/views.py
Due: black, isort, flake8, mypy

chore: update bootstrap version and some styles
  studyoverflow/navigation/static/navigation/css/base.css
  studyoverflow/navigation/static/navigation/css/index.css
  studyoverflow/navigation/templates/navigation/base.html
  studyoverflow/navigation/templates/navigation/index.html
  studyoverflow/notifications/templates/notifications/notification_base.html
  studyoverflow/posts/static/posts/css/comment_card.css
  studyoverflow/posts/static/posts/css/post_card.css
  studyoverflow/posts/static/posts/js/post_detail.js
  studyoverflow/users/templates/users/_form_fields.html
  studyoverflow/users/templates/users/profile_update_form.html
Due: none

feat(users): add background task for user activity counters sync
  studyoverflow/studyoverflow/celery.py
  studyoverflow/users/services/infrastructure.py
  studyoverflow/users/tasks.py
Due: black, isort, flake8, mypy

feat(users): configure django-allauth for social authentication
  studyoverflow/studyoverflow/settings.py
  studyoverflow/studyoverflow/urls.py
  studyoverflow/users/socialaccount_urls.py
  studyoverflow/users/templates/users/socialaccount_signup.html
Due: black, isort, flake8, mypy

feat(users): add custom social adapter with providers handlers
  studyoverflow/users/adapters.py
  studyoverflow/users/migrations/0017_user_is_social_alter_user_avatar.py
  studyoverflow/users/models.py
  studyoverflow/users/services/social_providers.py
  studyoverflow/users/tasks.py
Due: black, isort, flake8, mypy

feat(users): add signal and task for delete files from storage after delete user
  studyoverflow/users/apps.py
  studyoverflow/users/services/infrastructure.py
  studyoverflow/users/signals.py
  studyoverflow/users/tasks.py
  studyoverflow/users/views.py
Due: black, isort, flake8, mypy

chore(gitignore): add SSL-sert in .gitignore
  .gitignore
Due: none

feat(users): add buttons and styles for social auth
  studyoverflow/users/static/users/css/login.css
  studyoverflow/users/templates/users/_auth_base.html
  studyoverflow/users/templates/users/_form_fields.html
  studyoverflow/users/templates/users/login.html
Due: none

chore(.env): update .env.example with social auth variables
  .env.example
Due: none

feat(users): add roles for User with groups and permissions
  studyoverflow/posts/migrations/0012_alter_comment_options_alter_post_options.py
  studyoverflow/posts/models.py
  studyoverflow/users/admin.py
  studyoverflow/users/migrations/0018_alter_user_options_user_blocked_at_user_blocked_by_and_more.py
  studyoverflow/users/migrations/0019_user_role.py
  studyoverflow/users/models.py
Due: black, isort, flake8, mypy

feat(users): add styles and templates for display user roles
  studyoverflow/navigation/templates/navigation/base.html
  studyoverflow/posts/static/posts/css/post_base.css
  studyoverflow/posts/templates/posts/comments/_comment_card.html
  studyoverflow/posts/templates/posts/post_card.html
  studyoverflow/posts/templates/posts/post_detail.html
  studyoverflow/users/static/users/css/role_badge.css
  studyoverflow/users/static/users/css/user_card.css
  studyoverflow/users/templates/users/_role_badge.html
  studyoverflow/users/templates/users/_user_card.html
  studyoverflow/users/templates/users/profile_author.html
  studyoverflow/users/templatetags/users_tags.py
Due: black, isort, flake8, mypy

feat(users): allow users to write comments on their posts/comments
  studyoverflow/posts/forms.py
  studyoverflow/posts/models.py
Due: black, isort, flake8, mypy

feat(posts): add js logic to hide other forms when opening a new one on post_detail.html
  studyoverflow/posts/static/posts/js/post_detail.js
Due: none

feat(posts, users): add authorization and permission checks for users and posts
  studyoverflow/posts/templates/posts/comments/_comment_card.html
  studyoverflow/posts/templates/posts/post_detail.html
  studyoverflow/posts/views.py
  studyoverflow/users/services/infrastructure.py
  studyoverflow/users/urls.py
  studyoverflow/users/views.py
Due: black, isort, flake8, mypy

feat(users): restrict password change for social auth users
  studyoverflow/users/services/infrastructure.py
  studyoverflow/users/templates/users/password_reset_done.html
  studyoverflow/users/templates/users/profile_author.html
  studyoverflow/users/templates/users/profile_current_user.html
  studyoverflow/users/views.py
Due: black, isort, flake8, mypy

feat(users): add user blocking support and enforce access restrictions
  studyoverflow/studyoverflow/settings.py
  studyoverflow/users/forms.py
  studyoverflow/users/middleware.py
  studyoverflow/users/services/infrastructure.py
  studyoverflow/users/urls.py
  studyoverflow/users/views.py
Due: black, isort, flake8, mypy

feat(users): add user blocking support for social auth
  studyoverflow/studyoverflow/settings.py
  studyoverflow/users/adapters.py
  studyoverflow/users/forms.py
Due: black, isort, flake8, mypy

feat(users): add a profile interface for blocking/unblocking accounts
  studyoverflow/users/services/infrastructure.py
  studyoverflow/users/templates/users/profile_author.html
  studyoverflow/users/templatetags/users_tags.py
  studyoverflow/users/views.py
Due: black, isort, flake8, mypy

feat(posts, users): edit length of text fields for models
  studyoverflow/posts/migrations/0013_alter_comment_content_alter_post_content.py
  studyoverflow/posts/models.py
  studyoverflow/users/migrations/0020_alter_user_bio_alter_user_first_name_and_more.py
  studyoverflow/users/models.py
Due: black, isort, flake8, mypy

style(users): edit styles for profile page
  studyoverflow/users/static/users/css/profile.css
  studyoverflow/users/templates/users/profile_author.html
Due: none

style(posts): add new allowed tags for render_markdown_safe
  studyoverflow/posts/services/domain.py
Due: black, isort, flake8, mypy

style(posts): edit styles for displaying Markdown text for posts and comments
  studyoverflow/posts/forms.py
  studyoverflow/posts/static/posts/css/comment_card.css
  studyoverflow/posts/static/posts/css/post_base.css
  studyoverflow/posts/static/posts/css/post_card.css
  studyoverflow/posts/static/posts/css/post_create.css
  studyoverflow/posts/static/posts/css/post_detail.css
  studyoverflow/posts/templates/posts/comments/_comment_card.html
  studyoverflow/posts/templates/posts/post_card.html
  studyoverflow/posts/templates/posts/post_detail.html
  studyoverflow/posts/templates/posts/post_form_base.html
Due: black, isort, flake8, mypy

feat(posts): add smooth expand/collapse for comments
  studyoverflow/posts/static/posts/css/comment_card.css
  studyoverflow/posts/static/posts/js/comments_detail.js
  studyoverflow/posts/templates/posts/comments/_comment_card.html
  studyoverflow/posts/templates/posts/post_detail.html
Due: none

feat(messages): add HTMXMessageMixin
  studyoverflow/posts/services/infrastructure.py
Due: black, isort, flake8, mypy

style(messages): change message styles
  studyoverflow/navigation/static/navigation/css/messages.css
  studyoverflow/navigation/static/navigation/js/messages.js
  studyoverflow/navigation/templates/navigation/messages.html
Due: none

feat(messages): add new messages for some actions
  studyoverflow/posts/templates/posts/comments/_comment_card.html
  studyoverflow/posts/views.py
  studyoverflow/users/views.py
Due: black, isort, flake8, mypy

feat(models): improve models metadata, add unique tag constraint and user block permission
  studyoverflow/posts/migrations/0014_alter_lowercasetag_options_alter_taggedpost_options_and_more.py
  studyoverflow/posts/models.py
  studyoverflow/users/migrations/0021_alter_user_options.py
  studyoverflow/users/models.py
Due: black, isort, flake8, mypy

chore(admin panel): customize admin panel naming and update app metadata
  studyoverflow/notifications/apps.py
  studyoverflow/posts/apps.py
  studyoverflow/studyoverflow/urls.py
  studyoverflow/users/apps.py
Due: black, isort, flake8, mypy

feat(admin): add NotificationAdmin with custom actions and filters
  studyoverflow/notifications/admin.py
Due: black, isort, flake8, mypy

feat(admin): add admin interface for posts, comments, tags and likes
  studyoverflow/posts/admin.py
Due: black, isort, flake8, mypy

feat(admin): add UserAdmin
  studyoverflow/users/admin.py
Due: black, isort, flake8, mypy
