Repository mikhail-sakulin/django-studyoverflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black --config pyproject.toml
        language: system
        types: [python]
        pass_filenames: true

      - id: isort
        name: isort
        entry: isort --settings-path pyproject.toml
        exclude: |
          (?x)(
              venv/|
              __pycache__/|
              .idea/|
              manage.py|
              migrations/
          )
        language: system
        types: [python]
        pass_filenames: true

      - id: flake8
        name: flake8
        entry: flake8 --config .flake8
        exclude: |
          (?x)(
              venv/|
              __pycache__/|
              .*pyc|
              .idea/|
              manage.py|
              migrations/|
              studyoverflow/studyoverflow/
          )
        language: system
        types: [python]
        pass_filenames: true

      - id: mypy
        name: mypy
        entry: mypy --config-file pyproject.toml
        exclude: |
          (?x)(
              venv/|
              __pycache__/|
              .idea/|
              manage.py|
              migrations/|
              studyoverflow/studyoverflow/
          )
        language: system
        types: [python]
        pass_filenames: true

chore(posts): add allowed protocols to markdown HTML and linkify with nofollow, noopener
  studyoverflow/posts/services/domain.py
Due: black, isort, flake8, mypy

refactor(posts): expand search queryset for posts to include tags
  studyoverflow/posts/services/infrastructure.py
Due: black, isort, flake8, mypy

feat(errors): add 400 and 500 status code custom pages
  studyoverflow/navigation/views.py
  studyoverflow/studyoverflow/settings.py
  studyoverflow/studyoverflow/urls.py
  studyoverflow/templates/http_statuses/400.html
  studyoverflow/templates/http_statuses/401.html
  studyoverflow/templates/http_statuses/403.html
  studyoverflow/templates/http_statuses/403_csrf.html
  studyoverflow/templates/http_statuses/404.html
  studyoverflow/templates/http_statuses/405.html
  studyoverflow/templates/http_statuses/500.html
  studyoverflow/templates/http_statuses/_base_http_status.html
Due: black, isort, flake8, mypy

feat(posts): add handle deleted objects without breaking page
  studyoverflow/posts/static/posts/js/filters.js
  studyoverflow/posts/static/posts/js/post_detail.js
  studyoverflow/posts/views.py
Due: black, isort, flake8, mypy

refactor(notifications): refactor content_type_id for handles
  studyoverflow/notifications/services/infrastructure.py
Due: black, isort, flake8, mypy

feat(settings): add daphne to installed apps
  studyoverflow/studyoverflow/settings.py
Due: black, isort

feat(signals): add raw check to signal to support fixtures
  studyoverflow/notifications/signals.py
  studyoverflow/posts/signals.py
Due: black, isort, flake8, mypy

chore(deps): add requirements.txt
  studyoverflow/requirements.txt
Due: none

chore(.gitignore): add .env.docker to ignore list
  .gitignore
Due: none

chore(.env.example): add params for database docker container
  .env.example
Due: none

chore(docker): add .dockerignore
  studyoverflow/.dockerignore
Due: none

feat(docker): add Dockerfile
  studyoverflow/Dockerfile
Due: none

feat(docker): add docker-compose.yml
  docker-compose.yml
Due: none

feat(settings): add LOGGING settings
  studyoverflow/studyoverflow/settings.py
Due: black, isort

feat(logging): add UserActivityMiddleware for requests logging
  studyoverflow/navigation/middleware.py
Due: black, isort, flake8, mypy

chore(requirements.txt): edit requirements.txt
  studyoverflow/requirements.txt
Due: none

chore(logging): add settings for celery logging
  studyoverflow/studyoverflow/celery.py
Due: black, isort

feat(users): change message for social auth login
  studyoverflow/users/adapters.py
Due: black, isort, flake8, mypy

feat(logging): add posts logging
  studyoverflow/posts/views.py
Due: black, isort, flake8, mypy

feat(logging): add users logging
  studyoverflow/users/signals.py
  studyoverflow/users/views.py
Due: black, isort, flake8, mypy

feat(logging): add notifications logging
  studyoverflow/notifications/signals.py
Due: black, isort, flake8, mypy

feat(logging): add Promtail configuration for Docker log scraping
  monitoring/promtail-config.yml
Due: none

feat(logging): add Loki configuration for centralized logging
  monitoring/loki-config.yml
Due: none

feat(docker): add Loki and Promtail into docker-compose
  docker-compose.yml
Due: none

fix(logging): add UserActivityMiddleware to settings.py
  studyoverflow/studyoverflow/settings.py
Due: black, isort

refactor(users): optimize online status logic using Redis Sets and Pipelining
  studyoverflow/users/services/infrastructure.py
  studyoverflow/users/signals.py
  studyoverflow/users/tasks.py
Due: black, isort, flake8, mypy

feat(posts): add rendered_content field to cache HTML for Markdown to Post and Comment
  studyoverflow/posts/migrations/0015_comment_rendered_content_post_rendered_content.py
  studyoverflow/posts/models.py
  studyoverflow/posts/templates/posts/comments/_comment_card.html
  studyoverflow/posts/templates/posts/post_card.html
  studyoverflow/posts/templates/posts/post_detail.html
Due: black, isort, flake8, mypy

feat(posts): add caching for posts
  studyoverflow/posts/services/infrastructure.py
  studyoverflow/posts/templates/posts/_filters.html
  studyoverflow/posts/templates/posts/comments/comment_list.html
  studyoverflow/posts/templates/posts/post_form_base.html
  studyoverflow/posts/views.py
Due: black, isort, flake8, mypy

feat(users): add caching for users
  studyoverflow/users/views.py
Due: black, isort, flake8, mypy

perf(posts): optimize CRUD sql queries for Post and Comment models
  studyoverflow/posts/forms.py
  studyoverflow/posts/services/infrastructure.py
  studyoverflow/posts/views.py
  studyoverflow/users/middleware.py
Due: black, isort, flake8, mypy

style(comment): fix css styles
  studyoverflow/posts/static/posts/css/comment_card.css
Due: none

perf(notifications): optimize sql queries for notifications
  studyoverflow/notifications/views.py
Due: black, isort, flake8, mypy

feat(notifications): add some notifications
  studyoverflow/notifications/services/infrastructure.py
  studyoverflow/notifications/signals.py
Due: black, isort, flake8, mypy

feat(logging): add logging of some errors
  studyoverflow/notifications/tasks.py
  studyoverflow/users/services/infrastructure.py
  studyoverflow/users/tasks.py
Due: black, isort, flake8, mypy

refactor(settings): convert settings module into structured package
  studyoverflow/studyoverflow/settings.py
  studyoverflow/studyoverflow/settings/__init__.py
  studyoverflow/studyoverflow/settings/auth.py
  studyoverflow/studyoverflow/settings/base.py
  studyoverflow/studyoverflow/settings/celery_channel_cache.py
  studyoverflow/studyoverflow/settings/database_s3storage_static.py
  studyoverflow/studyoverflow/settings/logging.py
Due: black, isort

refactor(posts): refactor services/infrastructure module to packege
  studyoverflow/posts/services/infrastructure.py
  studyoverflow/posts/services/infrastructure/__init__.py
  studyoverflow/posts/services/infrastructure/common.py
  studyoverflow/posts/services/infrastructure/htmx_mixins.py
  studyoverflow/posts/services/infrastructure/queryset_mixins.py
  studyoverflow/posts/services/infrastructure/tags.py
Due: black, isort, flake8, mypy

refactor(users): refactor services/infrastructure module to packege
  studyoverflow/users/adapters.py
  studyoverflow/users/services/infrastructure.py
  studyoverflow/users/services/infrastructure/__init__.py
  studyoverflow/users/services/infrastructure/avatars.py
  studyoverflow/users/services/infrastructure/filter_mixins.py
  studyoverflow/users/services/infrastructure/online.py
  studyoverflow/users/services/infrastructure/permissions.py
  studyoverflow/users/services/infrastructure/social_providers.py
  studyoverflow/users/services/infrastructure/user_stats.py
  studyoverflow/users/services/infrastructure/validators.py
  studyoverflow/users/services/utils.py
Due: black, isort, flake8, mypy

perf(database): add optimized indexes for notifications, posts and users with migration files
  studyoverflow/notifications/migrations/0003_remove_notification_notificatio_time_cr_a87b48_idx_and_more.py
  studyoverflow/notifications/models.py
  studyoverflow/posts/migrations/0016_comment_posts_comme_post_id_80be8b_idx_and_more.py
  studyoverflow/posts/models.py
  studyoverflow/users/migrations/0022_user_user_username_upper_idx_and_more.py
  studyoverflow/users/models.py
Due: black, isort, flake8, mypy

refactor(models): bring models fields into a generally accepted order
  studyoverflow/notifications/models.py
  studyoverflow/posts/forms.py
  studyoverflow/posts/models.py
  studyoverflow/users/models.py
Due: black, isort, flake8, mypy

refactor(posts): refactor CommentListView, add CommentSortMixin
  studyoverflow/posts/services/infrastructure/__init__.py
  studyoverflow/posts/services/infrastructure/queryset_mixins.py
  studyoverflow/posts/views.py
Due: black, isort, flake8, mypy
